## PANDAS

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"a" : [1,2,3,4,5], "b" : [2,3,4,5,6]})

In [4]:
df #dataframe 형태

   a  b
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

In [5]:
df['a'] #series 형태

0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [6]:
df['b']

0    2
1    3
2    4
3    5
4    6
Name: b, dtype: int64

In [7]:
type(df['b'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df['b'].values

array([2, 3, 4, 5, 6], dtype=int64)

In [10]:
type(df['b'].values)

numpy.ndarray

* numpy는 각각의 값, 알맹이 같은 것

In [13]:
import numpy as np
np.array([1, 2, 3, 4, 5])

array([1, 2, 3, 4, 5])

In [16]:
np.array(range(1,100))

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

#### 각각의 원소에 10을 곱하고 싶으면?
* for 문에서는 [x*10 for x in range(1,100)] 이렇게 하는데
* numpy에서는 broadcasting 연산

In [17]:
np.array(range(1,100))*10

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])

In [18]:
import pickle

In [19]:
with open("./kbo_detail.pkl", "rb") as f:
    kbo_detail = pickle.load(f)

In [20]:
kbo_detail
선수명 : 강정현, 강효종 ,,,,
등번호 : 100 43,,,

[{'선수명': '강정현',
  '등번호': 'No.100',
  '생년월일': '1995년 09월 23일',
  '포지션': '투수(우투우타)',
  '신장/체중': '180cm/90kg',
  '경력': '남부민초-대신중-부경고-원광대-LG-상무',
  '입단 계약금': '7000만원',
  '연봉': '3300만원',
  '지명순위': '19 LG 2차 4라운드 35순위',
  '입단년도': '19LG'},
 {'선수명': '강효종',
  '등번호': 'No.43',
  '생년월일': '2002년 10월 14일',
  '포지션': '투수(우투우타)',
  '신장/체중': '184cm/86kg',
  '경력': '저동초(일산서구리틀)-충암중-충암고',
  '입단 계약금': '20000만원',
  '연봉': '3000만원',
  '지명순위': '21 LG 1차',
  '입단년도': '21LG'},
 {'선수명': '고우석',
  '등번호': 'No.19',
  '생년월일': '1998년 08월 06일',
  '포지션': '투수(우투우타)',
  '신장/체중': '182cm/90kg',
  '경력': '갈산초-양천중-충암고',
  '입단 계약금': '30000만원',
  '연봉': '27000만원',
  '지명순위': '17 LG 1차',
  '입단년도': '17LG'},
 {'선수명': '구본혁',
  '등번호': 'No.4',
  '생년월일': '1997년 01월 11일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '177cm/75kg',
  '경력': '중대초-잠신중-장충고-동국대',
  '입단 계약금': '5000만원',
  '연봉': '7000만원',
  '지명순위': '19 LG 2차 6라운드 55순위',
  '입단년도': '19LG'},
 {'선수명': '김기연',
  '등번호': 'No.122',
  '생년월일': '1997년 09월 07일',
  '포지션': '포수(우투우타)',
  '신장/체중': '178cm/95kg',
  '경력': '광주수창초-진흥중-진흥고',
  '입단 계약금': '7000만원',
  '연봉': '3000만원',
  '지명순위': '16 LG 2차 4라운드 34순위',
  '입단년도': '17LG'},
 {'선수명': '김대유',
  '등번호': 'No.69',
  '생년월일': '1991년 05월 08일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '187cm/92kg',
  '경력': '부산중앙초-부산중-부산고-히어로즈-SK-KT',
  '입단 계약금': '6000만원',
  '연봉': '12500만원',
  '지명순위': '10 넥센 3라운드 18순위',
  '입단년도': '10넥센'},
 {'선수명': '김대현',
  '등번호': 'No.109',
  '생년월일': '2001년 01월 05일',
  '포지션': '투수(우투우타)',
  '신장/체중': '188cm/96kg',
  '경력': '서화초-석남중-성지고',
  '입단 계약금': '3000만원',
  '연봉': '3000만원',
  '지명순위': '21 LG 2차 8라운드 77순위',
  '입단년도': ''},
 {'선수명': '김민성',
  '등번호': 'No.16',
  '생년월일': '1988년 12월 17일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '181cm/94kg',
  '경력': '고명초-잠신중-덕수고-(영남사이버대)-롯데-히어로즈-키움',
  '입단 계약금': '10000만원',
  '연봉': '18000만원',
  '지명순위': '07 롯데 2차 2라운드 13순위',
  '입단년도': '07롯데'},
 {'선수명': '김성우',
  '등번호': 'No.105',
  '생년월일': '2003년 11월 15일',
  '포지션': '포수(우투우타)',
  '신장/체중': '180cm/85kg',
  '경력': '성동초-건대부중-배재고',
  '입단 계약금': '5000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 7라운드 67순위',
  '입단년도': ''},
 {'선수명': '김성협',
  '등번호': 'No.102',
  '생년월일': '1999년 01월 29일',
  '포지션': '내야수(좌투좌타)',
  '신장/체중': '187cm/88kg',
  '경력': '백마초-홍은중-성남고',
  '입단 계약금': '7000만원',
  '연봉': '3000만원',
  '지명순위': '17 LG 2차 4라운드 32순위',
  '입단년도': '17LG'},
 {'선수명': '김영준',
  '등번호': 'No.101',
  '생년월일': '1999년 01월 12일',
  '포지션': '투수(우투우타)',
  '신장/체중': '185cm/89kg',
  '경력': '인천연학초-선린중-선린인터넷고',
  '입단 계약금': '25000만원',
  '연봉': '3500만원',
  '지명순위': '18 LG 1차',
  '입단년도': '18LG'},
 {'선수명': '김유민',
  '등번호': 'No.106',
  '생년월일': '2003년 01월 18일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '183cm/80kg',
  '경력': '화곡초-영남중-덕수고',
  '입단 계약금': '4000만원',
  '연봉': '3000만원',
  '지명순위': '21 LG 2차 7라운드 67순위',
  '입단년도': ''},
 {'선수명': '김윤식',
  '등번호': 'No.57',
  '생년월일': '2000년 04월 03일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '181cm/83kg',
  '경력': '광주서석초-무등중-진흥고',
  '입단 계약금': '20000만원',
  '연봉': '7000만원',
  '지명순위': '20 LG 2차 1라운드 3순위',
  '입단년도': '20LG'},
 {'선수명': '김의준',
  '등번호': 'No.115',
  '생년월일': '1999년 10월 16일',
  '포지션': '투수(우투우타)',
  '신장/체중': '183cm/80kg',
  '경력': '학강초-광주동성중-광주동성고',
  '입단 계약금': '5000만원',
  '연봉': '3000만원',
  '지명순위': '18 LG 2차 6라운드 57순위',
  '입단년도': ''},
 {'선수명': '김주성',
  '등번호': 'No.5',
  '생년월일': '1998년 01월 30일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '180cm/81kg',
  '경력': '수원신곡초-덕수중-휘문고',
  '입단 계약금': '10000만원',
  '연봉': '3300만원',
  '지명순위': '16 LG 2차 2라운드 14순위',
  '입단년도': '16LG'},
 {'선수명': '김주완',
  '등번호': 'No.40',
  '생년월일': '2003년 08월 27일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '189cm/96kg',
  '경력': '감천초-대동중-경남고',
  '입단 계약금': '13000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 1라운드 7순위',
  '입단년도': '22LG'},
 {'선수명': '김지용',
  '등번호': 'No.104',
  '생년월일': '2002년 10월 07일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '180cm/75kg',
  '경력': '구리초(구리리틀)-구리인창중-라온고',
  '입단 계약금': '4000만원',
  '연봉': '3000만원',
  '지명순위': '21 LG 2차 6라운드 57순위',
  '입단년도': ''},
 {'선수명': '김진성',
  '등번호': 'No.42',
  '생년월일': '1985년 03월 07일',
  '포지션': '투수(우투우타)',
  '신장/체중': '186cm/92kg',
  '경력': '인헌초-성남중-성남서고-SK-NC',
  '입단 계약금': '',
  '연봉': '10000만원',
  '지명순위': '04 SK 2차 6라운드 42순위',
  '입단년도': '05SK'},
 {'선수명': '김태형',
  '등번호': 'No.110',
  '생년월일': '1998년 09월 17일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '190cm/98kg',
  '경력': '솔빛초(수지리틀)-대치중-선린인터넷고',
  '입단 계약금': '3000만원',
  '연봉': '3200만원',
  '지명순위': '17 LG 2차 9라운드 82순위',
  '입단년도': '18LG'},
 {'선수명': '김현수',
  '등번호': 'No.22',
  '생년월일': '1988년 01월 12일',
  '포지션': '외야수(우투좌타)',
  '신장/체중': '188cm/100kg',
  '경력': '쌍문초-신일중-신일고-두산-볼티모어-필라델피아',
  '입단 계약금': '',
  '연봉': '150000만원',
  '지명순위': '06 두산 육성선수',
  '입단년도': '06두산'},
 {'선수명': '김형욱',
  '등번호': 'No.',
  '생년월일': '2002년 01월 29일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '187cm/90kg',
  '경력': '동일중앙초-부산중-부산고',
  '입단 계약금': '6000만원',
  '연봉': '3000만원',
  '지명순위': '21 LG 2차 5라운드 47순위',
  '입단년도': ''},
 {'선수명': '김호은',
  '등번호': 'No.34',
  '생년월일': '1992년 01월 03일',
  '포지션': '내야수(우투좌타)',
  '신장/체중': '181cm/87kg',
  '경력': '대구옥산초-경상중-대구고-연세대',
  '입단 계약금': '5000만원',
  '연봉': '4000만원',
  '지명순위': '16 LG 2차 7라운드 67순위',
  '입단년도': '20LG'},
 {'선수명': '루이즈',
  '등번호': 'No.12',
  '생년월일': '1994년 05월 22일',
  '포지션': '내야수(우투좌타)',
  '신장/체중': '188cm/95kg',
  '경력': '미국 Bishop Amat Memorial(고)',
  '입단 계약금': '150000달러',
  '연봉': '600000달러',
  '지명순위': '22 LG 자유선발',
  '입단년도': '22LG'},
 {'선수명': '류원석',
  '등번호': 'No.28',
  '생년월일': '1989년 11월 18일',
  '포지션': '투수(우언우타)',
  '신장/체중': '188cm/90kg',
  '경력': '신원초-양천중-서울고-인하대',
  '입단 계약금': '',
  '연봉': '4000만원',
  '지명순위': '13 LG 육성선수',
  '입단년도': '19LG'},
 {'선수명': '문보경',
  '등번호': 'No.35',
  '생년월일': '2000년 07월 19일',
  '포지션': '내야수(우투좌타)',
  '신장/체중': '182cm/89kg',
  '경력': '송중초(동대문구리틀)-덕수중-신일고',
  '입단 계약금': '8000만원',
  '연봉': '6800만원',
  '지명순위': '19 LG 2차 3라운드 25순위',
  '입단년도': '21LG'},
 {'선수명': '문성주',
  '등번호': 'No.8',
  '생년월일': '1997년 02월 20일',
  '포지션': '외야수(좌투좌타)',
  '신장/체중': '175cm/78kg',
  '경력': '포항서초-포항제철중-경북고-강릉영동대',
  '입단 계약금': '3000만원',
  '연봉': '4200만원',
  '지명순위': '18 LG 2차 10라운드 97순위',
  '입단년도': '18LG'},
 {'선수명': '문정빈',
  '등번호': 'No.121',
  '생년월일': '2003년 08월 15일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '186cm/90kg',
  '경력': '가동초-잠신중-서울고',
  '입단 계약금': '4000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 8라운드 77순위',
  '입단년도': ''},
 {'선수명': '박재욱',
  '등번호': 'No.24',
  '생년월일': '1995년 12월 06일',
  '포지션': '포수(우투우타)',
  '신장/체중': '180cm/78kg',
  '경력': '부산수영초-부산중-개성고-LG-경찰',
  '입단 계약금': '3000만원',
  '연봉': '3500만원',
  '지명순위': '14 LG 2차 10라운드 103순위',
  '입단년도': '14LG'},
 {'선수명': '박해민',
  '등번호': 'No.17',
  '생년월일': '1990년 02월 24일',
  '포지션': '외야수(우투좌타)',
  '신장/체중': '180cm/75kg',
  '경력': '영중초-양천중-신일고-한양대-삼성',
  '입단 계약금': '',
  '연봉': '60000만원',
  '지명순위': '12 삼성 육성선수',
  '입단년도': '12삼성'},
 {'선수명': '배재준',
  '등번호': 'No.44',
  '생년월일': '1994년 11월 24일',
  '포지션': '투수(우투우타)',
  '신장/체중': '188cm/80kg',
  '경력': '본리초-경상중-대구상원고',
  '입단 계약금': '10000만원',
  '연봉': '5000만원',
  '지명순위': '13 LG 2라운드 16순위',
  '입단년도': '16LG'},
 {'선수명': '백승현',
  '등번호': 'No.61',
  '생년월일': '1995년 05월 26일',
  '포지션': '투수(우투우타)',
  '신장/체중': '183cm/78kg',
  '경력': '소래초-상인천중-인천고',
  '입단 계약금': '7000만원',
  '연봉': '5000만원',
  '지명순위': '15 LG 2차 3라운드 30순위',
  '입단년도': '17LG'},
 {'선수명': '서건창',
  '등번호': 'No.14',
  '생년월일': '1989년 08월 22일',
  '포지션': '내야수(우투좌타)',
  '신장/체중': '176cm/84kg',
  '경력': '송정동초-충장중-광주제일고-LG-히어로즈-키움',
  '입단 계약금': '',
  '연봉': '26000만원',
  '지명순위': '08 LG 육성선수',
  '입단년도': '08LG'},
 {'선수명': '성동현',
  '등번호': 'No.107',
  '생년월일': '1999년 05월 18일',
  '포지션': '투수(우투우타)',
  '신장/체중': '189cm/108kg',
  '경력': '백마초-홍은중-장충고',
  '입단 계약금': '15000만원',
  '연봉': '3000만원',
  '지명순위': '18 LG 2차 1라운드 7순위',
  '입단년도': '18LG'},
 {'선수명': '손주영',
  '등번호': 'No.29',
  '생년월일': '1998년 12월 02일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '191cm/95kg',
  '경력': '울산대현초-개성중-경남고',
  '입단 계약금': '15000만원',
  '연봉': '3800만원',
  '지명순위': '17 LG 2차 1라운드 2순위',
  '입단년도': '17LG'},
 {'선수명': '손호영',
  '등번호': 'No.50',
  '생년월일': '1994년 08월 23일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '182cm/88kg',
  '경력': '의왕부곡초-평촌중-충훈고',
  '입단 계약금': '',
  '연봉': '3500만원',
  '지명순위': '20 LG 2차 3라운드 23순위',
  '입단년도': '14시카고컵스'},
 {'선수명': '송승기',
  '등번호': 'No.48',
  '생년월일': '2002년 04월 10일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '181cm/90kg',
  '경력': '삼일초-매향중-야탑고',
  '입단 계약금': '3000만원',
  '연봉': '3000만원',
  '지명순위': '21 LG 2차 9라운드 87순위',
  '입단년도': '22LG'},
 {'선수명': '송은범',
  '등번호': 'No.46',
  '생년월일': '1984년 03월 17일',
  '포지션': '투수(우투우타)',
  '신장/체중': '182cm/93kg',
  '경력': '서흥초-동산중-동산고-SK-KIA-한화',
  '입단 계약금': '40000만원',
  '연봉': '15000만원',
  '지명순위': '03 SK 1차',
  '입단년도': '03SK'},
 {'선수명': '송찬의',
  '등번호': 'No.66',
  '생년월일': '1999년 02월 20일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '182cm/77kg',
  '경력': '화곡초-선린중-선린인터넷고',
  '입단 계약금': '5000만원',
  '연봉': '3000만원',
  '지명순위': '18 LG 2차 7라운드 67순위',
  '입단년도': '22LG'},
 {'선수명': '신민재',
  '등번호': 'No.53',
  '생년월일': '1996년 01월 21일',
  '포지션': '외야수(우투좌타)',
  '신장/체중': '171cm/67kg',
  '경력': '서흥초-동인천중-인천고',
  '입단 계약금': '',
  '연봉': '5000만원',
  '지명순위': '15 두산 육성선수',
  '입단년도': '19LG'},
 {'선수명': '안익훈',
  '등번호': 'No.15',
  '생년월일': '1996년 02월 12일',
  '포지션': '외야수(좌투좌타)',
  '신장/체중': '176cm/70kg',
  '경력': '대전신흥초-충남중-대전고',
  '입단 계약금': '12000만원',
  '연봉': '5500만원',
  '지명순위': '15 LG 2차 1라운드 7순위',
  '입단년도': '15LG'},
 {'선수명': '양진혁',
  '등번호': 'No.123',
  '생년월일': '2003년 06월 20일',
  '포지션': '투수(우투우타)',
  '신장/체중': '190cm/90kg',
  '경력': '효제초-성남중-성남고',
  '입단 계약금': '3000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 9라운드 87순위',
  '입단년도': ''},
 {'선수명': '엄태경',
  '등번호': 'No.124',
  '생년월일': '2003년 05월 03일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '184cm/83kg',
  '경력': '광명광덕초(광명시리틀)-휘문중-휘문고',
  '입단 계약금': '3000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 10라운드 97순위',
  '입단년도': ''},
 {'선수명': '오석주',
  '등번호': 'No.64',
  '생년월일': '1998년 04월 14일',
  '포지션': '투수(우투우타)',
  '신장/체중': '181cm/74kg',
  '경력': '양정초-대천중-제주고',
  '입단 계약금': '6000만원',
  '연봉': '3500만원',
  '지명순위': '17 LG 2차 6라운드 52순위',
  '입단년도': '19LG'},
 {'선수명': '오지환',
  '등번호': 'No.10',
  '생년월일': '1990년 03월 12일',
  '포지션': '내야수(우투좌타)',
  '신장/체중': '186cm/80kg',
  '경력': '군산초-자양중-경기고',
  '입단 계약금': '28000만원',
  '연봉': '60000만원',
  '지명순위': '09 LG 1차',
  '입단년도': '09LG'},
 {'선수명': '유강남',
  '등번호': 'No.27',
  '생년월일': '1992년 07월 15일',
  '포지션': '포수(우투우타)',
  '신장/체중': '182cm/88kg',
  '경력': '청원초-휘문중-서울고-LG-상무',
  '입단 계약금': '4000만원',
  '연봉': '27000만원',
  '지명순위': '11 LG 7라운드 50순위',
  '입단년도': '11LG'},
 {'선수명': '이강욱',
  '등번호': 'No.108',
  '생년월일': '1995년 07월 15일',
  '포지션': '투수(우투우타)',
  '신장/체중': '185cm/90kg',
  '경력': '안산해양초-덕수중-충암고-연세대',
  '입단 계약금': '6000만원',
  '연봉': '3000만원',
  '지명순위': '18 LG 2차 5라운드 47순위',
  '입단년도': '18LG'},
 {'선수명': '이동규',
  '등번호': 'No.117',
  '생년월일': '1997년 05월 08일',
  '포지션': '투수(우투좌타)',
  '신장/체중': '180cm/87kg',
  '경력': '서울학동초-홍은중-성남고',
  '입단 계약금': '6000만원',
  '연봉': '3000만원',
  '지명순위': '16 LG 2차 6라운드 54순위',
  '입단년도': ''},
 {'선수명': '이민호',
  '등번호': 'No.26',
  '생년월일': '2001년 08월 30일',
  '포지션': '투수(우투우타)',
  '신장/체중': '189cm/93kg',
  '경력': '서울학동초-대치중-휘문고',
  '입단 계약금': '30000만원',
  '연봉': '9800만원',
  '지명순위': '20 LG 1차',
  '입단년도': '20LG'},
 {'선수명': '이상규',
  '등번호': 'No.60',
  '생년월일': '1996년 10월 20일',
  '포지션': '투수(우투우타)',
  '신장/체중': '185cm/77kg',
  '경력': '흥인초-청원중-청원고',
  '입단 계약금': '4000만원',
  '연봉': '3700만원',
  '지명순위': '15 LG 2차 7라운드 70순위',
  '입단년도': '19LG'},
 {'선수명': '이상호',
  '등번호': 'No.2',
  '생년월일': '1989년 02월 05일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '180cm/82kg',
  '경력': '대구옥산초-경운중-대구상원고-강릉영동대-NC-상무-NC',
  '입단 계약금': '',
  '연봉': '8500만원',
  '지명순위': '10 롯데 육성선수',
  '입단년도': '13NC'},
 {'선수명': '이영빈',
  '등번호': 'No.0',
  '생년월일': '2002년 06월 17일',
  '포지션': '내야수(우투좌타)',
  '신장/체중': '182cm/82kg',
  '경력': '대전동산초(대전중구리틀)-충남중-세광고',
  '입단 계약금': '13000만원',
  '연봉': '5500만원',
  '지명순위': '21 LG 2차 1라운드 7순위',
  '입단년도': '21LG'},
 {'선수명': '이우찬',
  '등번호': 'No.37',
  '생년월일': '1992년 08월 04일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '183cm/88kg',
  '경력': '온양온천초-온양중-북일고-LG-경찰',
  '입단 계약금': '11000만원',
  '연봉': '6200만원',
  '지명순위': '11 LG 2라운드 15순위',
  '입단년도': '11LG'},
 {'선수명': '이재원',
  '등번호': 'No.52',
  '생년월일': '1999년 07월 17일',
  '포지션': '외야수(우투우타)',
  '신장/체중': '192cm/100kg',
  '경력': '청주석교초-서울경원중-서울고',
  '입단 계약금': '10000만원',
  '연봉': '5200만원',
  '지명순위': '18 LG 2차 2라운드 17순위',
  '입단년도': '20LG'},
 {'선수명': '이정용',
  '등번호': 'No.31',
  '생년월일': '1996년 03월 26일',
  '포지션': '투수(우투우타)',
  '신장/체중': '186cm/85kg',
  '경력': '영일초-성남중-성남고-동아대',
  '입단 계약금': '20000만원',
  '연봉': '14000만원',
  '지명순위': '19 LG 1차',
  '입단년도': '19LG'},
 {'선수명': '이주헌',
  '등번호': 'No.54',
  '생년월일': '2003년 03월 04일',
  '포지션': '포수(우투우타)',
  '신장/체중': '185cm/92kg',
  '경력': '서울이수초-성남중-성남고',
  '입단 계약금': '7000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 3라운드 27순위',
  '입단년도': '22LG'},
 {'선수명': '이지강',
  '등번호': 'No.116',
  '생년월일': '1999년 07월 02일',
  '포지션': '투수(우투우타)',
  '신장/체중': '183cm/85kg',
  '경력': '수원선일초-수원북중-소래고',
  '입단 계약금': '3000만원',
  '연봉': '3000만원',
  '지명순위': '19 LG 2차 9라운드 85순위',
  '입단년도': ''},
 {'선수명': '이지훈',
  '등번호': 'No.68',
  '생년월일': '2003년 03월 04일',
  '포지션': '투수(우투우타)',
  '신장/체중': '188cm/92kg',
  '경력': '대지초-매송중-야탑고',
  '입단 계약금': '7000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 4라운드 37순위',
  '입단년도': '22LG'},
 {'선수명': '이찬혁',
  '등번호': 'No.39',
  '생년월일': '1998년 08월 19일',
  '포지션': '투수(우투우타)',
  '신장/체중': '187cm/90kg',
  '경력': '도신초-강남중-서울고',
  '입단 계약금': '8000만원',
  '연봉': '3100만원',
  '지명순위': '17 LG 2차 3라운드 22순위',
  '입단년도': '17LG'},
 {'선수명': '이천웅',
  '등번호': 'No.32',
  '생년월일': '1988년 10월 20일',
  '포지션': '외야수(좌투좌타)',
  '신장/체중': '182cm/90kg',
  '경력': '군산남초-성일중-성남서고-고려대-LG-경찰',
  '입단 계약금': '',
  '연봉': '10000만원',
  '지명순위': '11 LG 육성선수',
  '입단년도': '12LG'},
 {'선수명': '이형종',
  '등번호': 'No.36',
  '생년월일': '1989년 06월 07일',
  '포지션': '외야수(우투우타)',
  '신장/체중': '183cm/80kg',
  '경력': '화곡초-양천중-서울고',
  '입단 계약금': '43000만원',
  '연봉': '12000만원',
  '지명순위': '08 LG 1차',
  '입단년도': '08LG'},
 {'선수명': '임정우',
  '등번호': 'No.20',
  '생년월일': '1991년 04월 02일',
  '포지션': '투수(우투우타)',
  '신장/체중': '183cm/77kg',
  '경력': '서울도곡초-영동중-서울고-SK',
  '입단 계약금': '8000만원',
  '연봉': '5000만원',
  '지명순위': '11 SK 4라운드 26순위',
  '입단년도': '11SK'},
 {'선수명': '임준형',
  '등번호': 'No.59',
  '생년월일': '2000년 11월 16일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '180cm/82kg',
  '경력': '광주서석초-진흥중-진흥고',
  '입단 계약금': '4000만원',
  '연봉': '4000만원',
  '지명순위': '19 LG 2차 8라운드 75순위',
  '입단년도': '21LG'},
 {'선수명': '임지섭',
  '등번호': 'No.120',
  '생년월일': '1995년 09월 06일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '189cm/100kg',
  '경력': '포철서초-창원신월중-제주고-LG-상무',
  '입단 계약금': '25000만원',
  '연봉': '3000만원',
  '지명순위': '14 LG 1차',
  '입단년도': '14LG'},
 {'선수명': '임찬규',
  '등번호': 'No.1',
  '생년월일': '1992년 11월 20일',
  '포지션': '투수(우투우타)',
  '신장/체중': '185cm/80kg',
  '경력': '가동초-청원중-휘문고-LG-경찰',
  '입단 계약금': '30000만원',
  '연봉': '20000만원',
  '지명순위': '11 LG 1라운드 2순위',
  '입단년도': '11LG'},
 {'선수명': '장준원',
  '등번호': 'No.25',
  '생년월일': '1995년 11월 21일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '183cm/77kg',
  '경력': '경운초(김해리틀)-개성중-경남고',
  '입단 계약금': '10000만원',
  '연봉': '3800만원',
  '지명순위': '14 LG 2차 2라운드 23순위',
  '입단년도': '14LG'},
 {'선수명': '전준호',
  '등번호': 'No.62',
  '생년월일': '1998년 07월 01일',
  '포지션': '포수(우투우타)',
  '신장/체중': '181cm/80kg',
  '경력': '양도초-강남중-청원고',
  '입단 계약금': '3000만원',
  '연봉': '3200만원',
  '지명순위': '17 LG 2차 10라운드 92순위',
  '입단년도': '19LG'},
 {'선수명': '정우영',
  '등번호': 'No.18',
  '생년월일': '1999년 08월 19일',
  '포지션': '투수(우언우타)',
  '신장/체중': '193cm/85kg',
  '경력': '가평초-강남중-서울고',
  '입단 계약금': '10000만원',
  '연봉': '28000만원',
  '지명순위': '19 LG 2차 2라운드 15순위',
  '입단년도': '19LG'},
 {'선수명': '정주현',
  '등번호': 'No.7',
  '생년월일': '1990년 10월 13일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '176cm/76kg',
  '경력': '대현초-경상중-대구고-LG-상무',
  '입단 계약금': '6000만원',
  '연봉': '8000만원',
  '지명순위': '09 LG 2차 5라운드 36순위',
  '입단년도': '09LG'},
 {'선수명': '조건희',
  '등번호': 'No.',
  '생년월일': '2002년 03월 26일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '184cm/84kg',
  '경력': '계상초(노원구리틀)-상명중-서울고',
  '입단 계약금': '7000만원',
  '연봉': '3000만원',
  '지명순위': '21 LG 2차 3라운드 27순위',
  '입단년도': '21LG'},
 {'선수명': '조선명',
  '등번호': 'No.118',
  '생년월일': '1998년 12월 30일',
  '포지션': '투수(우투우타)',
  '신장/체중': '183cm/76kg',
  '경력': '장내초-장내중-성지고',
  '입단 계약금': '6000만원',
  '연봉': '3000만원',
  '지명순위': '18 LG 2차 4라운드 37순위',
  '입단년도': ''},
 {'선수명': '조원태',
  '등번호': 'No.49',
  '생년월일': '2003년 05월 10일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '186cm/92kg',
  '경력': '토성초(강동구리틀)-건대부중-선린인터넷고',
  '입단 계약금': '25000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 1차',
  '입단년도': '22LG'},
 {'선수명': '진해수',
  '등번호': 'No.21',
  '생년월일': '1986년 06월 26일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '187cm/85kg',
  '경력': '동삼초-경남중-부경고-KIA-상무-KIA-SK',
  '입단 계약금': '4000만원',
  '연봉': '30000만원',
  '지명순위': '05 KIA 2차 7라운드 50순위',
  '입단년도': '06KIA'},
 {'선수명': '차우찬',
  '등번호': 'No.23',
  '생년월일': '1987년 05월 31일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '185cm/80kg',
  '경력': '군산초-군산남중-군산상고-(대구사이버대)-삼성',
  '입단 계약금': '15000만원',
  '연봉': '30000만원',
  '지명순위': '06 삼성 2차 1라운드 7순위',
  '입단년도': '06삼성'},
 {'선수명': '채은성',
  '등번호': 'No.55',
  '생년월일': '1990년 02월 06일',
  '포지션': '내야수(우투우타)',
  '신장/체중': '186cm/92kg',
  '경력': '순천북초-순천이수중-효천고',
  '입단 계약금': '',
  '연봉': '28000만원',
  '지명순위': '09 LG 육성선수',
  '입단년도': '14LG'},
 {'선수명': '채지선',
  '등번호': 'No.67',
  '생년월일': '1995년 07월 11일',
  '포지션': '투수(우투좌타)',
  '신장/체중': '180cm/70kg',
  '경력': '학강초-광주동성중-광주제일고-두산',
  '입단 계약금': '14000만원',
  '연봉': '4000만원',
  '지명순위': '15 두산 2차 1라운드 8순위',
  '입단년도': '15두산'},
 {'선수명': '최동환',
  '등번호': 'No.13',
  '생년월일': '1989년 09월 19일',
  '포지션': '투수(우투우타)',
  '신장/체중': '184cm/83kg',
  '경력': '인헌초-선린중-경동고',
  '입단 계약금': '12000만원',
  '연봉': '6000만원',
  '지명순위': '09 LG 2차 2라운드 13순위',
  '입단년도': '09LG'},
 {'선수명': '최민창',
  '등번호': 'No.38',
  '생년월일': '1996년 04월 16일',
  '포지션': '외야수(좌투좌타)',
  '신장/체중': '179cm/76kg',
  '경력': '강남초-선린중-신일고',
  '입단 계약금': '10000만원',
  '연봉': '3200만원',
  '지명순위': '15 LG 2차 2라운드 17순위',
  '입단년도': '15LG'},
 {'선수명': '최성훈',
  '등번호': 'No.56',
  '생년월일': '1989년 10월 11일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '178cm/75kg',
  '경력': '가동초-잠신중-경기고-경희대',
  '입단 계약금': '11000만원',
  '연봉': '10500만원',
  '지명순위': '12 LG 2라운드 16순위',
  '입단년도': '12LG'},
 {'선수명': '최용하',
  '등번호': 'No.63',
  '생년월일': '2002년 11월 29일',
  '포지션': '투수(우언우타)',
  '신장/체중': '183cm/84kg',
  '경력': '응암초(서대문구리틀)-동도중-서울디자인고',
  '입단 계약금': '10000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 2라운드 17순위',
  '입단년도': '22LG'},
 {'선수명': '최원영',
  '등번호': 'No.103',
  '생년월일': '2003년 07월 18일',
  '포지션': '외야수(우투우타)',
  '신장/체중': '174cm/76kg',
  '경력': '부산수영초-사직중-부산고',
  '입단 계약금': '5000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 6라운드 57순위',
  '입단년도': ''},
 {'선수명': '최현준',
  '등번호': 'No.112',
  '생년월일': '1999년 04월 05일',
  '포지션': '내야수(우투좌타)',
  '신장/체중': '178cm/73kg',
  '경력': '효제초-배재중-서울고',
  '입단 계약금': '8000만원',
  '연봉': '3000만원',
  '지명순위': '18 LG 2차 3라운드 27순위',
  '입단년도': '18LG'},
 {'선수명': '켈리',
  '등번호': 'No.3',
  '생년월일': '1989년 10월 04일',
  '포지션': '투수(우투우타)',
  '신장/체중': '191cm/98kg',
  '경력': '미국 Sarasota(고)',
  '입단 계약금': '300000달러',
  '연봉': '900000달러',
  '지명순위': '19 LG 자유선발',
  '입단년도': '19LG'},
 {'선수명': '플럿코',
  '등번호': 'No.45',
  '생년월일': '1991년 10월 03일',
  '포지션': '투수(우투우타)',
  '신장/체중': '190cm/95kg',
  '경력': '미국 UCLA(대)',
  '입단 계약금': '',
  '연봉': '500000달러',
  '지명순위': '22 LG 자유선발',
  '입단년도': '22LG'},
 {'선수명': '한석현',
  '등번호': 'No.58',
  '생년월일': '1994년 05월 17일',
  '포지션': '외야수(좌투좌타)',
  '신장/체중': '181cm/73kg',
  '경력': '후암초-대천중-경남고',
  '입단 계약금': '5000만원',
  '연봉': '3900만원',
  '지명순위': '14 LG 2차 5라운드 48순위',
  '입단년도': '20LG'},
 {'선수명': '한선태',
  '등번호': 'No.111',
  '생년월일': '1994년 06월 14일',
  '포지션': '투수(우언우타)',
  '신장/체중': '183cm/79kg',
  '경력': '부천양지초-부천동중-부천공고',
  '입단 계약금': '3000만원',
  '연봉': '3200만원',
  '지명순위': '19 LG 2차 10라운드 95순위',
  '입단년도': '19LG'},
 {'선수명': '함덕주',
  '등번호': 'No.11',
  '생년월일': '1995년 01월 13일',
  '포지션': '투수(좌투좌타)',
  '신장/체중': '181cm/78kg',
  '경력': '일산초-원주중-원주고-두산',
  '입단 계약금': '6000만원',
  '연봉': '12000만원',
  '지명순위': '13 두산 5라운드 43순위',
  '입단년도': '13두산'},
 {'선수명': '허도환',
  '등번호': 'No.30',
  '생년월일': '1984년 07월 31일',
  '포지션': '포수(우투우타)',
  '신장/체중': '176cm/87kg',
  '경력': '서울학동초-서울이수중-서울고-단국대-두산-히어로즈-한화-SK-KT',
  '입단 계약금': '',
  '연봉': '10000만원',
  '지명순위': '03 두산 2차 7라운드 56순위',
  '입단년도': '07두산'},
 {'선수명': '허준혁',
  '등번호': 'No.119',
  '생년월일': '1999년 07월 02일',
  '포지션': '투수(우투우타)',
  '신장/체중': '180cm/85kg',
  '경력': '가평초(가평군리틀)-영동중-경기고-한일장신대',
  '입단 계약금': '6000만원',
  '연봉': '3000만원',
  '지명순위': '22 LG 2차 5라운드 47순위',
  '입단년도': ''},
 {'선수명': '홍창기',
  '등번호': 'No.51',
  '생년월일': '1993년 11월 21일',
  '포지션': '외야수(우투좌타)',
  '신장/체중': '189cm/94kg',
  '경력': '대일초-매송중-안산공고-건국대-LG-경찰',
  '입단 계약금': '8000만원',
  '연봉': '32000만원',
  '지명순위': '16 LG 2차 3라운드 27순위',
  '입단년도': '16LG'},
 {'선수명': '강매성',
  '등번호': 'No.95',
  '생년월일': '2003년 06월 08일',
  '포지션': '투수(우투우타)',

In [22]:
kbo_df = pd.DataFrame(kbo_detail)

In [23]:
kbo_df

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도
0,강정현,No.100,1995년 09월 23일,투수(우투우타),180cm/90kg,남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG
1,강효종,No.43,2002년 10월 14일,투수(우투우타),184cm/86kg,저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG
2,고우석,No.19,1998년 08월 06일,투수(우투우타),182cm/90kg,갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG
3,구본혁,No.4,1997년 01월 11일,내야수(우투우타),177cm/75kg,중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG
4,김기연,No.122,1997년 09월 07일,포수(우투우타),178cm/95kg,광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG
...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),184cm/84kg,강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화
825,한승주,No.59,2001년 03월 17일,투수(우투우타),184cm/82kg,부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화
826,허관회,No.26,1999년 02월 12일,포수(우투우타),176cm/83kg,경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화
827,허인서,No.64,2003년 07월 11일,포수(우투우타),182cm/93kg,순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),185cm/83kg,청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화

#### 데이터 형상

In [29]:
kbo_df.shape #829개의 row와 10개의 column

(829, 10)

In [27]:
kbo_df.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도
0,강정현,No.100,1995년 09월 23일,투수(우투우타),180cm/90kg,남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG

In [28]:
kbo_df.tail(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),185cm/83kg,청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화

#### 결측치 데이터 개수

In [31]:
kbo_df.isnull().sum() #kbo에서 0으로 준 데이터가 있는지

선수명       0
등번호       0
생년월일      0
포지션       0
신장/체중     0
경력        0
입단 계약금    0
연봉        0
지명순위      0
입단년도      0
dtype: int64

In [32]:
kbo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   선수명     829 non-null    object
 1   등번호     829 non-null    object
 2   생년월일    829 non-null    object
 3   포지션     829 non-null    object
 4   신장/체중   829 non-null    object
 5   경력      829 non-null    object
 6   입단 계약금  829 non-null    object
 7   연봉      829 non-null    object
 8   지명순위    829 non-null    object
 9   입단년도    829 non-null    object
dtypes: object(10)
memory usage: 64.9+ KB

### 위에 것들을 확인한 다음에
### 컬럼 추출하기

In [35]:
df['a']

0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [36]:
kbo_df['신장/체중'] #series형태

0      180cm/90kg
1      184cm/86kg
2      182cm/90kg
3      177cm/75kg
4      178cm/95kg
          ...
824    184cm/84kg
825    184cm/82kg
826    176cm/83kg
827    182cm/93kg
828    185cm/83kg
Name: 신장/체중, Length: 829, dtype: object

In [37]:
kbo_df['신장/체중'].values #numpy형태

array(['180cm/90kg', '184cm/86kg', '182cm/90kg', '177cm/75kg',
       '178cm/95kg', '187cm/92kg', '188cm/96kg', '181cm/94kg',
       '180cm/85kg', '187cm/88kg', '185cm/89kg', '183cm/80kg',
       '181cm/83kg', '183cm/80kg', '180cm/81kg', '189cm/96kg',
       '180cm/75kg', '186cm/92kg', '190cm/98kg', '188cm/100kg',
       '187cm/90kg', '181cm/87kg', '188cm/95kg', '188cm/90kg',
       '182cm/89kg', '175cm/78kg', '186cm/90kg', '180cm/78kg',
       '180cm/75kg', '188cm/80kg', '183cm/78kg', '176cm/84kg',
       '189cm/108kg', '191cm/95kg', '182cm/88kg', '181cm/90kg',
       '182cm/93kg', '182cm/77kg', '171cm/67kg', '176cm/70kg',
       '190cm/90kg', '184cm/83kg', '181cm/74kg', '186cm/80kg',
       '182cm/88kg', '185cm/90kg', '180cm/87kg', '189cm/93kg',
       '185cm/77kg', '180cm/82kg', '182cm/82kg', '183cm/88kg',
       '192cm/100kg', '186cm/85kg', '185cm/92kg', '183cm/85kg',
       '188cm/92kg', '187cm/90kg', '182cm/90kg', '183cm/80kg',
       '183cm/77kg', '180cm/82kg', '189cm/100kg', '185cm/80kg',
       '183cm/77kg', '181cm/80kg', '193cm/85kg', '176cm/76kg',
       '184cm/84kg', '183cm/76kg', '186cm/92kg', '187cm/85kg',
       '185cm/80kg', '186cm/92kg', '180cm/70kg', '184cm/83kg',
       '179cm/76kg', '178cm/75kg', '183cm/84kg', '174cm/76kg',
       '178cm/73kg', '191cm/98kg', '190cm/95kg', '181cm/73kg',
       '183cm/79kg', '181cm/78kg', '176cm/87kg', '180cm/85kg',
       '189cm/94kg', '187cm/94kg', '185cm/94kg', '179cm/81kg',
       '182cm/87kg', '185cm/88kg', '188cm/98kg', '185cm/92kg',
       '183cm/97kg', '179cm/89kg', '191cm/95kg', '180cm/88kg',
       '184cm/88kg', '172cm/72kg', '176cm/73kg', '182cm/90kg',
       '183cm/87kg', '187cm/89kg', '170cm/60kg', '176cm/88kg',
       '185cm/90kg', '187cm/100kg', '193cm/102kg', '180cm/88kg',
       '185cm/95kg', '187cm/87kg', '180cm/77kg', '182cm/88kg',
       '182cm/80kg', '172cm/81kg', '186cm/90kg', '186cm/90kg',
       '184cm/88kg', '180cm/82kg', '188cm/97kg', '185cm/97kg',
       '187cm/82kg', '178cm/74kg', '182cm/80kg', '188cm/95kg',
       '186cm/88kg', '180cm/80kg', '190cm/104kg', '189cm/93kg',
       '182cm/85kg', '174cm/74kg', '185cm/98kg', '178cm/88kg',
       '185cm/85kg', '192cm/97kg', '175cm/90kg', '183cm/91kg',
       '183cm/85kg', '180cm/88kg', '180cm/98kg', '183cm/93kg',
       '187cm/94kg', '177cm/78kg', '184cm/95kg', '192cm/110kg',
       '188cm/98kg', '174cm/81kg', '193cm/103kg', '182cm/90kg',
       '188cm/85kg', '191cm/101kg', '185cm/95kg', '187cm/95kg',
       '168cm/73kg', '178cm/83kg', '178cm/75kg', '183cm/83kg',
       '180cm/90kg', '178cm/73kg', '178cm/82kg', '183cm/88kg',
       '180cm/97kg', '196cm/115kg', '193cm/113kg', '180cm/92kg',
       '182cm/90kg', '177cm/86kg', '190cm/105kg', '180cm/77kg',
       '185cm/100kg', '181cm/66kg', '183cm/85kg', '189cm/75kg',
       '175cm/68kg', '180cm/88kg', '183cm/85kg', '186cm/101kg',
       '184cm/84kg', '177cm/80kg', '183cm/83kg', '175cm/68kg',
       '183cm/78kg', '174cm/80kg', '163cm/62kg', '179cm/65kg',
       '180cm/94kg', '180cm/105kg', '183cm/81kg', '183cm/94kg',
       '185cm/85kg', '182cm/85kg', '163cm/64kg', '182cm/92kg',
       '193cm/92kg', '174cm/81kg', '178cm/78kg', '178cm/72kg',
       '182cm/100kg', '178cm/93kg', '180cm/87kg', '178cm/78kg',
       '184cm/100kg', '182cm/82kg', '184cm/80kg', '190cm/90kg',
       '173cm/85kg', '176cm/78kg', '190cm/120kg', '188cm/83kg',
       '176cm/68kg', '182cm/85kg', '183cm/89kg', '178cm/80kg',
       '178cm/93kg', '187cm/95kg', '184cm/75kg', '183cm/92kg',
       '182cm/93kg', '182cm/80kg', '178cm/88kg', '180cm/87kg',
       '180cm/85kg', '178cm/82kg', '180cm/94kg', '174cm/79kg',
       '181cm/92kg', '183cm/102kg', '182cm/82kg', '180cm/76kg',
       '180cm/82kg', '187cm/88kg', '183cm/95kg', '180cm/86kg',
       '178cm/85kg', '177cm/79kg', '190cm/90kg', '181cm/88kg',
       '183cm/83kg', '181cm/82kg', '185cm/87kg', '190cm/85kg',
       '190cm/99kg', '183cm/99kg', '181cm/90kg', '188cm/92kg',
       '185cm/93kg', '182cm/85kg', '191cm/97kg', '186cm/86kg',
       '176cm/78kg', '178cm/88kg', '190cm/104kg', '176cm/89kg',
       '186cm/98kg', '187cm/95kg', '184cm/74kg', '181cm/87kg',
       '187cm/95kg', '185cm/83kg', '181cm/83kg', '190cm/90kg',
       '193cm/100kg', '178cm/90kg', '185cm/95kg', '188cm/100kg',
       '182cm/95kg', '180cm/84kg', '178cm/78kg', '181cm/75kg',
       '183cm/90kg', '174cm/86kg', '175cm/74kg', '185cm/86kg',
       '187cm/91kg', '188cm/86kg', '177cm/84kg', '186cm/98kg',
       '181cm/86kg', '177cm/68kg', '185cm/75kg', '192cm/103kg',
       '177cm/77kg', '178cm/74kg', '177cm/78kg', '178cm/83kg',
       '183cm/93kg', '185cm/97kg', '185cm/90kg', '183cm/92kg',
       '187cm/96kg', '175cm/80kg', '176cm/98kg', '185cm/75kg',
       '185cm/90kg', '191cm/86kg', '179cm/79kg', '185cm/75kg',
       '181cm/86kg', '178cm/78kg', '182cm/90kg', '190cm/88kg',
       '181cm/83kg', '182cm/88kg', '183cm/95kg', '186cm/86kg',
       '192cm/91kg', '187cm/98kg', '179cm/87kg', '181cm/80kg',
       '178cm/81kg', '183cm/98kg', '180cm/80kg', '183cm/90kg',
       '184cm/86kg', '184cm/85kg', '181cm/73kg', '185cm/80kg',
       '184cm/90kg', '175cm/70kg', '185cm/90kg', '192cm/92kg',
       '192cm/95kg', '178cm/73kg', '182cm/89kg', '183cm/85kg',
       '187cm/95kg', '190cm/87kg', '182cm/90kg', '182cm/91kg',
       '180cm/88kg', '178cm/83kg', '176cm/69kg', '188cm/95kg',
       '187cm/97kg', '187cm/98kg', '181cm/77kg', '182cm/79kg',
       '192cm/103kg', '183cm/89kg', '179cm/91kg', '183cm/97kg',
       '189cm/92kg', '182cm/86kg', '177cm/84kg', '190cm/104kg',
       '192cm/118kg', '183cm/80kg', '176cm/81kg', '177cm/77kg',
       '180cm/96kg', '184cm/97kg', '175cm/80kg', '183cm/78kg',
       '181cm/84kg', '176cm/73kg', '192cm/96kg', '180cm/83kg',
       '180cm/82kg', '186cm/110kg', '185cm/90kg', '185cm/98kg',
       '186cm/109kg', '190cm/82kg', '183cm/100kg', '186cm/85kg',
       '174cm/82kg', '188cm/91kg', '182cm/85kg', '184cm/83kg',
       '186cm/88kg', '182cm/106kg', '181cm/77kg', '189cm/91kg',
       '183cm/86kg', '185cm/104kg', '181cm/84kg', '189cm/95kg',
       '177cm/77kg', '185cm/78kg', '176cm/87kg', '178cm/97kg',
       '179cm/78kg', '187cm/85kg', '197cm/90kg', '180cm/80kg',
       '194cm/130kg', '189cm/95kg', '196cm/97kg', '187cm/97kg',
       '190cm/115kg', '187cm/87kg', '177cm/87kg', '176cm/75kg',
       '184cm/98kg', '186cm/90kg', '175cm/94kg', '181cm/93kg',
       '180cm/82kg', '180cm/85kg', '200cm/123kg', '181cm/86kg',
       '181cm/105kg', '193cm/102kg', '184cm/108kg', '182cm/90kg',
       '179cm/85kg', '179cm/93kg', '185cm/85kg', '178cm/85kg',
       '202cm/109kg', '191cm/85kg', '182cm/108kg', '181cm/76kg',
       '175cm/73kg', '180cm/72kg', '182cm/88kg', '190cm/86kg',
       '189cm/100kg', '184cm/83kg', '187cm/94kg', '183cm/73kg',
       '183cm/85kg', '186cm/87kg', '180cm/80kg', '187cm/97kg',
       '165cm/77kg', '178cm/80kg', '184cm/80kg', '187cm/100kg',
       '183cm/97kg', '184cm/85kg', '180cm/80kg', '170cm/75kg',
       '185cm/90kg', '182cm/78kg', '178cm/85kg', '183cm/100kg',
       '195cm/105kg', '182cm/105kg', '182cm/78kg', '193cm/113kg',
       '184cm/80kg', '176cm/84kg', '181cm/75kg', '193cm/97kg',
       '184cm/84kg', '178cm/104kg', '190cm/105kg', '175cm/68kg',
       '181cm/93kg', '180cm/83kg', '178cm/72kg', '181cm/86kg',
       '183cm/89kg', '188cm/93kg', '183cm/99kg', '190cm/95kg',
       '183cm/94kg', '177cm/83kg', '183cm/91kg', '186cm/95kg',
       '185cm/75kg', '185cm/96kg', '184cm/87kg', '181cm/84kg',
       '180cm/87kg', '180cm/84kg', '185cm/97kg', '183cm/98kg',
       '182cm/82kg', '184cm/96kg', '182cm/95kg', '185cm/90kg',
       '183cm/100kg', '185cm/90kg', '184cm/85kg', '177cm/85kg',
       '186cm/82kg', '183cm/82kg', '173cm/85kg', '184cm/86kg',
       '182cm/88kg', '180cm/86kg', '179cm/83kg', '181cm/91kg',
       '182cm/84kg', '189cm/98kg', '193cm/97kg', '177cm/72kg',
       '178cm/75kg', '185cm/100kg', '180cm/106kg', '183cm/90kg',
       '174cm/83kg', '185cm/96kg', '188cm/85kg', '178cm/100kg',
       '183cm/96kg', '176cm/78kg', '186cm/90kg', '178cm/82kg',
       '185cm/82kg', '183cm/87kg', '177cm/80kg', '186cm/96kg',
       '181cm/90kg', '183cm/80kg', '180cm/91kg', '177cm/79kg',
       '182cm/92kg', '187cm/91kg', '174cm/83kg', '178cm/90kg',
       '184cm/80kg', '176cm/80kg', '174cm/74kg', '182cm/84kg',
       '187cm/97kg', '176cm/80kg', '180cm/80kg', '181cm/87kg',
       '186cm/80kg', '176cm/70kg', '180cm/87kg', '186cm/80kg',
       '178cm/92kg', '179cm/82kg', '181cm/92kg', '182cm/85kg',
       '181cm/95kg', '184cm/108kg', '187cm/90kg', '182cm/80kg',
       '180cm/84kg', '191cm/96kg', '180cm/80kg', '183cm/86kg',
       '187cm/83kg', '176cm/83kg', '192cm/92kg', '196cm/104kg',
       '171cm/70kg', '184cm/97kg', '189cm/98kg', '174cm/82kg',
       '175cm/73kg', '183cm/80kg', '188cm/93kg', '184cm/85kg',
       '186cm/97kg', '186cm/105kg', '180cm/82kg', '175cm/73kg',
       '176cm/77kg', '187cm/95kg', '184cm/95kg', '170cm/70kg',
       '171cm/70kg', '185cm/88kg', '185cm/95kg', '183cm/96kg',
       '177cm/88kg', '180cm/92kg', '188cm/87kg', '182cm/90kg',
       '186cm/97kg', '182cm/85kg', '186cm/95kg', '186cm/97kg',
       '180cm/85kg', '180cm/98kg', '182cm/86kg', '185cm/85kg',
       '184cm/97kg', '188cm/108kg', '180cm/81kg', '182cm/98kg',
       '184cm/98kg', '178cm/68kg', '180cm/88kg', '187cm/88kg',
       '182cm/86kg', '185cm/88kg', '183cm/86kg', '180cm/80kg',
       '188cm/80kg', '181cm/71kg', '175cm/80kg', '180cm/82kg',
       '185cm/93kg', '172cm/68kg', '178cm/81kg', '185cm/91kg',
       '175cm/91kg', '183cm/84kg', '177cm/78kg', '185cm/84kg',
       '182cm/92kg', '183cm/97kg', '191cm/103kg', '185cm/79kg',
       '183cm/80kg', '184cm/85kg', '178cm/80kg', '185cm/107kg',
       '180cm/88kg', '185cm/90kg', '183cm/91kg', '184cm/83kg',
       '185cm/80kg', '189cm/85kg', '186cm/70kg', '189cm/92kg',
       '177cm/80kg', '179cm/90kg', '189cm/78kg', '175cm/83kg',
       '179cm/88kg', '183cm/75kg', '182cm/92kg', '183cm/79kg',
       '183cm/90kg', '176cm/72kg', '183cm/90kg', '187cm/85kg',
       '173cm/68kg', '187cm/72kg', '180cm/87kg', '187cm/90kg',
       '176cm/69kg', '185cm/72kg', '186cm/86kg', '190cm/95kg',
       '188cm/93kg', '190cm/86kg', '178cm/71kg', '184cm/74kg',
       '187cm/100kg', '188cm/87kg', '185cm/95kg', '177cm/77kg',
       '176cm/74kg', '185cm/83kg', '180cm/67kg', '183cm/81kg',
       '185cm/95kg', '170cm/75kg', '182cm/79kg', '181cm/82kg',
       '173cm/65kg', '183cm/85kg', '184cm/80kg', '179cm/84kg',
       '188cm/98kg', '174cm/78kg', '182cm/130kg', '189cm/82kg',
       '180cm/80kg', '174cm/70kg', '183cm/96kg', '195cm/94kg',
       '188cm/95kg', '183cm/85kg', '177cm/85kg', '185cm/85kg',
       '182cm/74kg', '182cm/88kg', '180cm/83kg', '188cm/95kg',
       '188cm/86kg', '178cm/90kg', '176cm/83kg', '172cm/84kg',
       '185cm/83kg', '179cm/80kg', '176cm/77kg', '183cm/90kg',
       '188cm/95kg', '188cm/95kg', '177cm/85kg', '190cm/94kg',
       '188cm/95kg', '184cm/80kg', '184cm/85kg', '188cm/91kg',
       '189cm/88kg', '182cm/93kg', '184cm/80kg', '182cm/85kg',
       '177cm/85kg', '185cm/80kg', '178cm/88kg', '179cm/85kg',
       '181cm/75kg', '194cm/115kg', '181cm/83kg', '179cm/85kg',
       '174cm/84kg', '182cm/84kg', '191cm/93kg', '184cm/95kg',
       '185cm/86kg', '181cm/95kg', '179cm/85kg', '186cm/88kg',
       '178cm/93kg', '185cm/90kg', '178cm/67kg', '182cm/83kg',
       '186cm/97kg', '183cm/87kg', '185cm/90kg', '180cm/95kg',
       '185cm/85kg', '185cm/80kg', '183cm/89kg', '182cm/86kg',
       '181cm/84kg', '195cm/104kg', '184cm/87kg', '181cm/83kg',
       '183cm/90kg', '188cm/90kg', '185cm/82kg', '177cm/76kg',
       '194cm/85kg', '183cm/71kg', '184cm/94kg', '185cm/92kg',
       '181cm/88kg', '180cm/81kg', '180cm/87kg', '181cm/83kg',
       '181cm/88kg', '181cm/73kg', '190cm/85kg', '186cm/90kg',
       '196cm/93kg', '189cm/95kg', '182cm/79kg', '188cm/105kg',
       '180cm/90kg', '191cm/82kg', '172cm/64kg', '180cm/86kg',
       '187cm/97kg', '185cm/89kg', '183cm/83kg', '186cm/94kg',
       '182cm/82kg', '183cm/87kg', '172cm/74kg', '189cm/105kg',
       '182cm/81kg', '186cm/88kg', '187cm/84kg', '180cm/80kg',
       '177cm/86kg', '178cm/99kg', '183cm/82kg', '181cm/95kg',
       '187cm/95kg', '180cm/80kg', '185cm/96kg', '188cm/98kg',
       '185cm/91kg', '181cm/92kg', '185cm/75kg', '186cm/85kg',
       '183cm/85kg', '190cm/98kg', '180cm/95kg', '185cm/95kg',
       '186cm/78kg', '185cm/78kg', '177cm/78kg', '198cm/105kg',
       '184cm/90kg', '173cm/80kg', '184cm/92kg', '177cm/80kg',
       '186cm/86kg', '187cm/92kg', '181cm/82kg', '179cm/75kg',
       '177cm/68kg', '183cm/99kg', '173cm/71kg', '172cm/64kg',
       '186cm/93kg', '191cm/92kg', '185cm/114kg', '182cm/95kg',
       '178cm/72kg', '177cm/70kg', '188cm/79kg', '170cm/70kg',
       '181cm/84kg', '182cm/81kg', '184cm/85kg', '184cm/85kg',
       '181cm/88kg', '183cm/96kg', '184cm/98kg', '184cm/93kg',
       '183cm/85kg', '185cm/90kg', '178cm/93kg', '183cm/95kg',
       '181cm/82kg', '177cm/78kg', '190cm/86kg', '186cm/80kg',
       '182cm/73kg', '177cm/82kg', '175cm/91kg', '178cm/76kg',
       '183cm/73kg', '196cm/104kg', '196cm/106kg', '188cm/95kg',
       '184cm/84kg', '184cm/82kg', '176cm/83kg', '182cm/93kg',
       '185cm/83kg'], dtype=object)

In [42]:
# "180cm/90kg"에서 키만 빼고싶다면?
"180cm/90kg"[:3] #80cm라면 80c가 나와서 안좋음
"180cm/90kg".split("/")[0].replace("cm", "")
"180cm/90kg".split("cm")[0]

'180'

In [46]:
int("180cm/90kg".split("/")[1].replace("kg", ""))

90

### 함수
## apply()

In [47]:
def tmp(x):
    return int(x.split("/")[1].replace("kg", ""))

In [48]:
tmp('184cm/86kg')

86

In [49]:
kbo_df['신장/체중'].apply(tmp)
#이 데이터가 tmp함수에 모두 적용이 되는 것

0      90
1      86
2      90
3      75
4      95
       ..
824    84
825    82
826    83
827    93
828    83
Name: 신장/체중, Length: 829, dtype: int64

In [50]:
#이름이 없고 일회용으로 쓰려면
#def의 x를 람다 옆에 넣고 return값을 오른쪽에 넣기
kbo_df['신장/체중'].apply(lambda x : int(x.split("/")[1].replace("kg", "")))

0      90
1      86
2      90
3      75
4      95
       ..
824    84
825    82
826    83
827    93
828    83
Name: 신장/체중, Length: 829, dtype: int64

### 파생변수

In [51]:
kbo_df['체중'] = kbo_df['신장/체중'].apply(lambda x : int(x.split("/")[1].replace("kg", "")))

* 신장이라는 파생변수 만들기

In [52]:
kbo_df['신장'] = kbo_df['신장/체중'].apply(lambda x : int(x.split("/")[0].replace("cm", "")))
kbo_df['신장']

0      180
1      184
2      182
3      177
4      178
      ...
824    184
825    184
826    176
827    182
828    185
Name: 신장, Length: 829, dtype: int64

In [230]:
df['c']=df['a']+df['b']
df

   a  b   c
0  1  2   3
1  2  3   5
2  3  4   7
3  4  5   9
4  5  6  11

### BMI 파생변수 만들기

In [55]:
kbo_df['bmi'] = kbo_df['체중'] / ((kbo_df['신장'] / 100)**2)
kbo_df['bmi']

0      27.777778
1      25.401701
2      27.170632
3      23.939481
4      29.983588
         ...
824    24.810964
825    24.220227
826    26.794938
827    28.076319
828    24.251278
Name: bmi, Length: 829, dtype: float64

In [56]:
kbo_df

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
0,강정현,No.100,1995년 09월 23일,투수(우투우타),180cm/90kg,남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778
1,강효종,No.43,2002년 10월 14일,투수(우투우타),184cm/86kg,저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701
2,고우석,No.19,1998년 08월 06일,투수(우투우타),182cm/90kg,갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632
3,구본혁,No.4,1997년 01월 11일,내야수(우투우타),177cm/75kg,중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481
4,김기연,No.122,1997년 09월 07일,포수(우투우타),178cm/95kg,광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588
...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),184cm/84kg,강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,84,184,24.810964
825,한승주,No.59,2001년 03월 17일,투수(우투우타),184cm/82kg,부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,82,184,24.220227
826,허관회,No.26,1999년 02월 12일,포수(우투우타),176cm/83kg,경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,83,176,26.794938
827,허인서,No.64,2003년 07월 11일,포수(우투우타),182cm/93kg,순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,93,182,28.076319
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),185cm/83kg,청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,83,185,24.251278

### 특정 column 값으로 정렬하기

In [57]:
kbo_df.sort_values(by=['bmi'], ascending=False)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
658,한기원,No.55,1998년 03월 10일,내야수(우투우타),182cm/130kg,부산중앙초-부산중-부산고,3000만원,2700만원,17 KT 2차 9라운드 81순위,,130,182,39.246468
388,이대호,No.10,1982년 06월 21일,내야수(우투우타),194cm/130kg,부산수영초-대동중-경남고-(영남사이버대)-롯데-시애틀,21000만원,80000만원,01 롯데 2차 1라운드 4순위,01롯데,130,194,34.541397
794,이성원,No.98,1999년 11월 02일,포수(우투우타),185cm/114kg,수원신곡초-매향중-장안고,6000만원,3000만원,18 한화 2차 6라운드 54순위,,114,185,33.308985
210,수아레즈,No.57,1989년 10월 08일,투수(우투우타),190cm/120kg,베네수엘라 Galileo Galilei(고),100000달러,700000달러,22 삼성 자유선발,22삼성,120,190,33.240997
449,박상준,No.034,2001년 08월 21일,내야수(좌투좌타),178cm/104kg,석교초-세광중-세광고-강릉영동대,,3000만원,22 KIA 육성선수,,104,178,32.824138
...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,정주후,No.16,1995년 06월 26일,내야수(우투좌타),180cm/67kg,광주서석초-충장중-광주제일고,8000만원,3200만원,15 KT 2차 3라운드 33순위,15KT,67,180,20.679012
629,엄상백,No.18,1996년 10월 04일,투수(우언우타),187cm/72kg,역삼초-언북중-덕수고-KT-상무,23000만원,8000만원,15 KT 1차,15KT,72,187,20.589665
187,김성표,No.9,1994년 03월 17일,외야수(우투우타),179cm/65kg,포이초(서초구리틀)-대치중-휘문고,6000만원,3800만원,13 삼성 6라운드 50순위,13삼성,65,179,20.286508
614,백선기,No.35,1998년 08월 27일,외야수(좌투좌타),186cm/70kg,남도초-경상중-대구상원고,5000만원,2700만원,18 KT 2차 7라운드 61순위,,70,186,20.233553
173,강한울,No.6,1991년 09월 12일,내야수(우투좌타),181cm/66kg,사당초-중앙중-안산공고-원광대-KIA-삼성-상무,14000만원,10000만원,14 KIA 2차 1라운드 5순위,14KIA,66,181,20.145905

### column 삭제
* drop([삭제하고싶은 row, column]axis=0 또는 1)
* drop(axis=0) - 초기값이 0, row 삭제
* row도 column도 삭제 가능

In [231]:
df

   a  b   c
0  1  2   3
1  2  3   5
2  3  4   7
3  4  5   9
4  5  6  11

In [235]:
df.drop([0])
#df해보면 c가 안지워졌는데 모르고 지웠을 때 대비해서 함수의 복삿값이 적용되는 듯

   a  b   c
1  2  3   5
2  3  4   7
3  4  5   9
4  5  6  11

In [236]:
#바로 적용하려면
df.drop(['c'], axis=1, inplace=True)
df

   a  b
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

* 신장/체중 컬럼 삭제

In [237]:
kbo_df.drop(['신장/체중'], axis=1, inplace=True)

In [67]:
kbo_df

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
0,강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778
1,강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701
2,고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632
3,구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481
4,김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588
...,...,...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,84,184,24.810964
825,한승주,No.59,2001년 03월 17일,투수(우투우타),부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,82,184,24.220227
826,허관회,No.26,1999년 02월 12일,포수(우투우타),경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,83,176,26.794938
827,허인서,No.64,2003년 07월 11일,포수(우투우타),순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,93,182,28.076319
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,83,185,24.251278

In [240]:
#pd.set_option('display.max_rows', None) 전체 내역을 보고싶다면
pd.set_option('display.max_rows', 10)

In [73]:
kbo_df

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
0,강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778
1,강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701
2,고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632
3,구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481
4,김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588
...,...,...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,84,184,24.810964
825,한승주,No.59,2001년 03월 17일,투수(우투우타),부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,82,184,24.220227
826,허관회,No.26,1999년 02월 12일,포수(우투우타),경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,83,176,26.794938
827,허인서,No.64,2003년 07월 11일,포수(우투우타),순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,93,182,28.076319
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,83,185,24.251278

## loc, iloc
* 원하는 data 선택
* iloc는 무조건 숫자(index)로 내가 원하는 데이터를 추출
* loc는 column이나 row가 가지고 있는 이름으로 데이터 추출
*[row, column]

In [75]:
dkbo_df.loc[:,['선수명', '등번호', '포지션']]

     선수명     등번호        포지션
0    강정현  No.100   투수(우투우타)
1    강효종   No.43   투수(우투우타)
2    고우석   No.19   투수(우투우타)
3    구본혁    No.4  내야수(우투우타)
4    김기연  No.122   포수(우투우타)
..   ...     ...        ...
824  하주석   No.16  내야수(우투좌타)
825  한승주   No.59   투수(우투우타)
826  허관회   No.26   포수(우투우타)
827  허인서   No.64   포수(우투우타)
828  황영국   No.58   투수(좌투좌타)

[829 rows x 3 columns]

In [76]:
kbo_df.loc[0:3, ['선수명', '등번호', '포지션']]

   선수명     등번호        포지션
0  강정현  No.100   투수(우투우타)
1  강효종   No.43   투수(우투우타)
2  고우석   No.19   투수(우투우타)
3  구본혁    No.4  내야수(우투우타)

In [79]:
kbo_df.iloc[ 0:4 ,[0, 1, 3]] #뒤에 column의 선수명 등번호 포지션순서가 0, 1, 3

   선수명     등번호        포지션
0  강정현  No.100   투수(우투우타)
1  강효종   No.43   투수(우투우타)
2  고우석   No.19   투수(우투우타)
3  구본혁    No.4  내야수(우투우타)

* index값을 변경

In [81]:
kbo_df.set_index(['선수명'], inplace=True) # 선수명을 index로 사용

In [82]:
kbo_df

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
선수명,,,,,,,,,,,
강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778
강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632
구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481
김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588
...,...,...,...,...,...,...,...,...,...,...,...
하주석,No.16,1994년 02월 25일,내야수(우투좌타),강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,84,184,24.810964
한승주,No.59,2001년 03월 17일,투수(우투우타),부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,82,184,24.220227
허관회,No.26,1999년 02월 12일,포수(우투우타),경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,83,176,26.794938
허인서,No.64,2003년 07월 11일,포수(우투우타),순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,93,182,28.076319
황영국,No.58,1995년 12월 26일,투수(좌투좌타),청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,83,185,24.251278

In [83]:
kbo_df.loc['고우석':'김기연']

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
선수명,,,,,,,,,,,
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632
구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481
김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588

In [85]:
kbo_df.iloc[2:5]

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
선수명,,,,,,,,,,,
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632
구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481
김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588

In [92]:
mask = kbo_df['포지션'] == '투수(우투우타)' 
#마스크팩 구멍처럼 그 구멍이 이 조건식의 true값인 것

In [94]:
kbo_df[mask]

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi
선수명,,,,,,,,,,,
강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778
강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632
김대현,No.109,2001년 01월 05일,투수(우투우타),서화초-석남중-성지고,3000만원,3000만원,21 LG 2차 8라운드 77순위,,96,188,27.161612
김영준,No.101,1999년 01월 12일,투수(우투우타),인천연학초-선린중-선린인터넷고,25000만원,3500만원,18 LG 1차,18LG,89,185,26.004383
...,...,...,...,...,...,...,...,...,...,...,...
장시환,No.28,1987년 11월 01일,투수(우투우타),태안초-태안중-북일고-현대-히어로즈-상무-히어로즈-KT-롯데,18000만원,8700만원,07 현대 2차 1라운드 2순위,07현대,93,184,27.469282
정이황,No.67,2000년 03월 07일,투수(우투우타),부산수영초-경남중-부산고,8000만원,3000만원,19 한화 2차 3라운드 23순위,19한화,86,190,23.822715
주현상,No.66,1992년 08월 10일,투수(우투우타),청주우암초-청주중-청주고-동아대,5000만원,5080만원,15 한화 2차 7라운드 64순위,15한화,82,177,26.173833
킹험,No.20,1991년 11월 08일,투수(우투우타),미국 Sierra Vista(고)-SK,100000달러,700000달러,20 SK 자유선발,20SK,106,196,27.592670
한승주,No.59,2001년 03월 17일,투수(우투우타),부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,82,184,24.220227

In [243]:
#여기서 만약 원하는 데이터를 추출하고 싶다면
kbo_df.loc[mask, ['등번호', '신장']] 
#kbo_df.iloc[mask, [0, -2]] #iloc는 에러남

        등번호   신장
선수명
문성주    No.8  175
이현석   No.25  175
구준범   No.19  175
김상수    No.7  175
김태근   No.92  175
..      ...  ...
이병규    No.9  175
김병준  No.106  175
김준태   No.44  175
신병률   No.15  175
최이경   No.91  175

[17 rows x 2 columns]

* 신장이 175인 선수만 데이터 뽑기

In [98]:
mask = kbo_df['신장'] == 175

In [99]:
kbo_df[kbo_df['신장'] == 175].shape
#kbo_df[mask].shape

(17, 11)

In [245]:
kbo_df[kbo_df['신장'] > 175].shape

(772, 14)

### column마다 값의 개수 파악
* 투수가 몇명있고 포수가 몇명있고 이런것

In [101]:
kbo_df['포지션'].value_counts()

투수(우투우타)     254
내야수(우투우타)    118
투수(좌투좌타)     106
포수(우투우타)      66
내야수(우투좌타)     60
            ...
투수(우투양타)       3
투수(우언좌타)       1
외야수(우투양타)      1
내야수(우투양타)      1
투수(우언양타)       1
Name: 포지션, Length: 18, dtype: int64

In [106]:
#kbo_df['나이']
# kbo_df['생년월일'].split("년")
# def kbo_age(x):
#     return int(x.split("년")[0])

In [104]:
kbo_df['생년월일'].apply(lambda x: x[:4])

선수명
강정현    1995
강효종    2002
고우석    1998
구본혁    1997
김기연    1997
       ...
하주석    1994
한승주    2001
허관회    1999
허인서    2003
황영국    1995
Name: 생년월일, Length: 829, dtype: object

In [246]:
kbo_df['나이'] = kbo_df['생년월일'].apply(lambda x: 2022 - int(x[:4])+1)

In [247]:
kbo_df

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi,나이,탄생요일,연봉(만원)
선수명,,,,,,,,,,,,,,
강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778,28,토,3300.0
강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701,21,월,3000.0
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632,25,목,27000.0
구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481,26,토,7000.0
김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588,26,일,3000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
하주석,No.16,1994년 02월 25일,내야수(우투좌타),강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,84,184,24.810964,29,금,20090.0
한승주,No.59,2001년 03월 17일,투수(우투우타),부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,82,184,24.220227,22,토,3000.0
허관회,No.26,1999년 02월 12일,포수(우투우타),경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,83,176,26.794938,24,금,3370.0
허인서,No.64,2003년 07월 11일,포수(우투우타),순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,93,182,28.076319,20,금,3000.0
황영국,No.58,1995년 12월 26일,투수(좌투좌타),청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,83,185,24.251278,28,화,3400.0

In [248]:
kbo_df['나이'].value_counts()

24    87
20    78
21    66
22    59
25    57
      ..
37     7
39     6
41     4
19     4
40     3
Name: 나이, Length: 23, dtype: int64

In [249]:
kbo_df[kbo_df['나이'] >= 40]

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi,나이,탄생요일,연봉(만원)
선수명,,,,,,,,,,,,,,
고효준,No.65,1983년 02월 08일,투수(좌투좌타),서원초-세광중-세광고-롯데-SK-KIA-롯데-LG,11000만원,4000만원,02 롯데 2차 1라운드 6순위,02롯데,81,179,25.280110,40,화,4000.0
김강민,No.0,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고-SK,11000만원,16000만원,01 SK 2차 2라운드 18순위,01SK,87,182,26.264944,41,월,16000.0
추신수,No.17,1982년 07월 13일,외야수(좌투좌타),부산수영초-부산중-부산고-SK,,270000만원,07 해외진출선수 특별지명,00시애틀,97,180,29.938272,41,화,270000.0
오승환,No.21,1982년 07월 15일,투수(우투우타),도신초-우신중-경기고-단국대-삼성-한신-세인트루이스-토론토-콜로라도,18000만원,160000만원,05 삼성 2차 1라운드 5순위,05삼성,93,178,29.352355,41,목,160000.0
이현승,No.48,1983년 10월 11일,투수(좌투좌타),서화초-대헌중-동산고-인하대-현대-히어로즈-두산-상무,18000만원,10000만원,02 현대 2차 3라운드 26순위,06현대,87,179,27.152711,40,화,10000.0
이대호,No.10,1982년 06월 21일,내야수(우투우타),부산수영초-대동중-경남고-(영남사이버대)-롯데-시애틀,21000만원,80000만원,01 롯데 2차 1라운드 4순위,01롯데,130,194,34.541397,41,월,80000.0
최형우,No.34,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,90000만원,02 삼성 2차 6라운드 48순위,02삼성,106,180,32.716049,40,금,90000.0

* 선수들이 태어난 날의 요일을 만들어주세요
* 변수명 -> 탄생요일

In [ ]:
kbo_df['탄생요일']

In [170]:
from datetime import date, datetime, timedelta

In [117]:
kbo_df['생년월일']

선수명
강정현    1995년 09월 23일
강효종    2002년 10월 14일
고우석    1998년 08월 06일
구본혁    1997년 01월 11일
김기연    1997년 09월 07일
           ...
하주석    1994년 02월 25일
한승주    2001년 03월 17일
허관회    1999년 02월 12일
허인서    2003년 07월 11일
황영국    1995년 12월 26일
Name: 생년월일, Length: 829, dtype: object

In [125]:
date = "1995년 09월 23일".replace(" ", "")
str(date)
#datetime_date = datetime.strptime(date, '%Y-%m-%d')
#print(datetime_date)
#print(type(datetime_date))

'1995년09월23일'

------------------------------------------------------------

In [126]:
kbo_df['생년월일']

선수명
강정현    1995년 09월 23일
강효종    2002년 10월 14일
고우석    1998년 08월 06일
구본혁    1997년 01월 11일
김기연    1997년 09월 07일
           ...
하주석    1994년 02월 25일
한승주    2001년 03월 17일
허관회    1999년 02월 12일
허인서    2003년 07월 11일
황영국    1995년 12월 26일
Name: 생년월일, Length: 829, dtype: object

In [127]:
datetime.strptime("1995년 09월 23일", "%Y년 %m월 %d일")
#이런식으로 데이터 형싟에 맞춰 datetime지정

datetime.datetime(1995, 9, 23, 0, 0)

In [129]:
datetime.strptime("1995년 09월 23일", "%Y년 %m월 %d일").weekday()

5

In [134]:
# 0 1 2 ~~ 7 을 월~일에 넣는 변수 만듦
trans = dict(zip(range(0,7), "월화수목금토일"))

In [135]:
trans

{0: '월', 1: '화', 2: '수', 3: '목', 4: '금', 5: '토', 6: '일'}

In [136]:
trans[datetime.strptime("1995년 09월 23일", "%Y년 %m월 %d일").weekday()]

'토'

In [138]:
kbo_df['탄생요일'] = kbo_df['생년월일'].apply(lambda x : trans[datetime.strptime(x, "%Y년 %m월 %d일").weekday()])

In [139]:
kbo_df['탄생요일']

선수명
강정현    토
강효종    월
고우석    목
구본혁    토
김기연    일
      ..
하주석    금
한승주    토
허관회    금
허인서    금
황영국    화
Name: 탄생요일, Length: 829, dtype: object

In [140]:
kbo_df['탄생요일'].value_counts()

금    152
월    130
화    126
수    117
토    110
목    107
일     87
Name: 탄생요일, dtype: int64

### ETL(Extract, Transform, Load)
* 추출하고 변형시켜서 저장하는 작업

In [142]:
kbo_df['연봉']

선수명
강정현     3300만원
강효종     3000만원
고우석    27000만원
구본혁     7000만원
김기연     3000만원
        ...
하주석    20090만원
한승주     3000만원
허관회     3370만원
허인서     3000만원
황영국     3400만원
Name: 연봉, Length: 829, dtype: object

In [146]:
kbo_df.loc[kbo_df['연봉'] !="", '연봉']

선수명
강정현     3300만원
강효종     3000만원
고우석    27000만원
구본혁     7000만원
김기연     3000만원
        ...
하주석    20090만원
한승주     3000만원
허관회     3370만원
허인서     3000만원
황영국     3400만원
Name: 연봉, Length: 827, dtype: object

In [147]:
kbo_df.loc[kbo_df['연봉'] != "", '연봉(만원)'] = kbo_df.loc[kbo_df['연봉'] != "", '연봉'].apply(lambda x : )

SyntaxError: invalid syntax (Temp/ipykernel_12252/3037520527.py, line 1)

In [148]:
import requests

In [251]:
keb_url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"

In [252]:
payload = {"ajax" : "true",
    "curCd" : "",
    "tmpInqStrDt" : "2022-04-11",
    "pbldDvCd" : "3",
    "pbldSqn" : "",
    "hid_key_data" : "",
    "inqStrDt" : "20220411",
    "inqKindCd" : "1",
    "hid_enc_data" : "",
    "requestTarget" : "searchContentDiv",}
# "pbldDvCd" : "3",에서 0으로 바꿔줘야 몇달치 결과가 조회됨 아마 3달 지났다고 3인듯

In [253]:
r = requests.post(keb_url, data=payload)

In [254]:
r.text

'\r\n\r\n\r\n\r\n\r\n\r\n\r\n\t\r\n\t<div class="btnRight_tbl mt50">\r\n\t\t<a href="#//HanaBank" class="btnTxt txt" onclick="pbk.foreign.rate.pbld.prs.doExcelDown(\'Y\');" title="현재환율 TXT 다운로드"><span>다운로드</span></a>\r\n\t\t<a href="#//HanaBank" class="btnTxt excel" onclick="pbk.foreign.rate.pbld.prs.doExcelDown(\'N\');" title="현재환율 엑셀 다운로드"><span>다운로드</span></a>\r\n\t\t<a href="#//HanaBank" class="btn_print" onclick="printPopup.open();" title="인쇄하기"><span>인쇄하기</span></a>\r\n\t</div>\r\n\r\n<div class="printdiv">\r\n\t\r\n\t<div style="display:none">\t\r\n\t\t<h4>현재환율</h4>\r\n\t</div>\r\n\t\r\n\t<p class="txtRateBox">\r\n\t<span class="fl"><em>기준일</em> : <strong>2022년04월11일</strong><em>고시회차</em> : <strong>295회차</strong><em>고시시간</em> : <strong>17시38분00초</strong></span>\r\n\t<span class="fr"><em>조회시각</em> : <strong>2022년04월11일 17시42분48초</strong></span>\r\n\t</p>\r\n\t\r\n\t<table class="tblBasic leftNone" summary="통화코드/통화명,매매기준율,현찰,사실때,환율,spread,파실때,환율,spread,송금,보낼때,받을때,미화환산율,TC/환산율,변동환율 항목이 포함된 테이블">\r\n\t<caption>기간별 기준가격 고시회차에 대한 내용</caption>\r\n\t<colgroup>\r\n\t\t<col style="width:*" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:7%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:7%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:7%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t</colgroup>\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<th class="leftNone" scope="col" rowspan="3">통화</th>\r\n\t\t\t<th class="leftLine" scope="col" colspan="4">현찰</th>\r\n\t\t\t<th class="leftLine" scope="col" colspan="2">송금</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">T/C<br />사실때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">외화<br />수표<br />파실때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">매매<br />기준율</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">환가<br />료율</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">미화<br />환산율</th>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<th class="leftLine" scope="col" colspan="2">사실 때</th>\r\n\t\t\t<th class="leftLine" scope="col" colspan="2">파실 때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="2">보낼 때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="2">받을 때</th>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<th class="leftLine" scope="col">환율</th>\r\n\t\t\t<th class="leftLine" scope="col">Spread</th>\r\n\t\t\t<th class="leftLine" scope="col">환율</th>\r\n\t\t\t<th class="leftLine" scope="col">Spread</th>\r\n\t\t</tr>\r\n\t\t</thead>\r\n\t\t<tbody>\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="미국 USD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'USD\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t미국 USD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,254.57</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">1,211.43</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">1,245.00</td>\r\n\t\t\t\t\t<td class="txtAr">1,221.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">1,220.23</td>\r\n\t\t\t\t\t<td class="txtAr">1,233.00</td>\r\n\t\t\t\t\t<td class="txtAr">2.26411</td>\r\n\t\t\t\t\t<td class="txtAr">1.0000</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="일본 JPY (100) 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'JPY\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t일본 JPY (100)\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,001.38</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">966.94</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">993.80</td>\r\n\t\t\t\t\t<td class="txtAr">974.52</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">974.02</td>\r\n\t\t\t\t\t<td class="txtAr">984.16</td>\r\n\t\t\t\t\t<td class="txtAr">2.05773</td>\r\n\t\t\t\t\t<td class="txtAr">0.7982</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="유로 EUR 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'EUR\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t유로 EUR\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,371.84</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">1,318.32</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">1,358.53</td>\r\n\t\t\t\t\t<td class="txtAr">1,331.63</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">1,331.10</td>\r\n\t\t\t\t\t<td class="txtAr">1,345.08</td>\r\n\t\t\t\t\t<td class="txtAr">1.43400</td>\r\n\t\t\t\t\t<td class="txtAr">1.0909</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="중국 CNY 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'CNY\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t중국 CNY\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">202.95</td>\r\n\t\t\t\t\t<td class="txtAr">5.00</td>\r\n\t\t\t\t\t<td class="txtAr">183.63</td>\r\n\t\t\t\t\t<td class="txtAr">5.00</td>\r\n\t\t\t\t\t<td class="txtAr">195.22</td>\r\n\t\t\t\t\t<td class="txtAr">191.36</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">193.29</td>\r\n\t\t\t\t\t<td class="txtAr">5.19883</td>\r\n\t\t\t\t\t<td class="txtAr">0.1568</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="홍콩 HKD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'HKD\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t홍콩 HKD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">160.40</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">154.22</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">158.88</td>\r\n\t\t\t\t\t<td class="txtAr">155.74</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">155.66</td>\r\n\t\t\t\t\t<td class="txtAr">157.31</td>\r\n\t\t\t\t\t<td class="txtAr">2.26366</td>\r\n\t\t\t\t\t<td class="txtAr">0.1276</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="태국 THB 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'THB\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t태국 THB\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">38.53</td>\r\n\t\t\t\t\t<td class="txtAr">5.00</td>\r\n\t\t\t\t\t<td class="txtAr">34.50</td>\r\n\t\t\t\t\t<td class="txtAr">6.00</td>\r\n\t\t\t\t\t<td class="txtAr">37.06</td>\r\n\t\t\t\t\t<td class="txtAr">36.34</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">36.32</td>\r\n\t\t\t\t\t<td class="txtAr">36.70</td>\r\n\t\t\t\t\t<td class="txtAr">2.52566</td>\r\n\t\t\t\t\t<td class="txtAr">0.0298</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="대만 TWD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'TWD\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t대만 TWD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">47.98</td>\r\n\t\t\t\t\t<td class="txtAr">13.10</td>\r\n\t\t\t\t\t<td class="txtAr">39.46</td>\r\n\t\t\t\t\t<td class="txtAr">7.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">42.43</td>\r\n\t\t\t\t\t<td class="txtAr">2.49833</td>\r\n\t\t\t\t\t<td class="txtAr">0.0344</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="필리핀 PHP 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'PHP\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t필리핀 PHP\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">26.05</td>\r\n\t\t\t\t\t<td class="txtAr">10.00</td>\r\n\t\t\t\t\t<td class="txtAr">21.75</td>\r\n\t\t\t\t\t<td class="txtAr">8.20</td>\r\n\t\t\t\t\t<td class="txtAr">23.92</td>\r\n\t\t\t\t\t<td class="txtAr">23.46</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">23.69</td>\r\n\t\t\t\t\t<td class="txtAr">4.48200</td>\r\n\t\t\t\t\t<td class="txtAr">0.0192</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="싱가포르 SGD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'SGD\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t싱가포르 SGD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">921.17</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">885.23</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">912.23</td>\r\n\t\t\t\t\t<td class="txtAr">894.17</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">893.57</td>\r\n\t\t\t\t\t<td class="txtAr">903.20</td>\r\n\t\t\t\t\t<td class="txtAr">2.70433</td>\r\n\t\t\t\t\t<td class="txtAr">0.7325</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="호주 AUD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'AUD\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t호주 AUD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">934.42</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">898.32</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">925.53</td>\r\n\t\t\t\t\t<td class="txtAr">907.21</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">906.63</td>\r\n\t\t\t\t\t<td class="txtAr">916.37</td>\r\n\t\t\t\t\t<td class="txtAr">2.34333</td>\r\n\t\t\t\t\t<td class="txtAr">0.7432</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="베트남 VND (100) 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'VND\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t베트남 VND (100)\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">6.02</td>\r\n\t\t\t\t\t<td class="txtAr">11.80</td>\r\n\t\t\t\t\t<td class="txtAr">4.76</td>\r\n\t\t\t\t\t<td class="txtAr">11.80</td>\r\n\t\t\t\t\t<td class="txtAr">5.44</td>\r\n\t\t\t\t\t<td class="txtAr">5.34</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">5.39</td>\r\n\t\t\t\t\t<td class="txtAr">4.27833</td>\r\n\t\t\t\t\t<td class="txtAr">0.0044</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="영국 GBP 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'GBP\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t영국 GBP\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,637.87</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">1,574.59</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">1,622.29</td>\r\n\t\t\t\t\t<td class="txtAr">1,590.17</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">1,588.94</td>\r\n\t\t\t\t\t<td class="txtAr">1,606.23</td>\r\n\t\t\t\t\t<td class="txtAr">2.81600</td>\r\n\t\t\t\t\t<td class="txtAr">1.3027</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="캐나다 CAD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'CAD\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t캐나다 CAD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">997.72</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">959.18</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">988.23</td>\r\n\t\t\t\t\t<td class="txtAr">968.67</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">967.91</td>\r\n\t\t\t\t\t<td class="txtAr">978.45</td>\r\n\t\t\t\t\t<td class="txtAr">2.80700</td>\r\n\t\t\t\t\t<td class="txtAr">0.7936</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="말레이시아 MYR 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'MYR\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t말레이시아 MYR\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">310.00</td>\r\n\t\t\t\t\t<td class="txtAr">6.30</td>\r\n\t\t\t\t\t<td class="txtAr">270.05</td>\r\n\t\t\t\t\t<td class="txtAr">7.40</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">288.72</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">291.63</td>\r\n\t\t\t\t\t<td class="txtAr">3.84533</td>\r\n\t\t\t\t\t<td class="txtAr">0.2365</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="러시아 RUB 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'RUB\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t러시아 RUB\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">16.62</td>\r\n\t\t\t\t\t<td class="txtAr">9.50</td>\r\n\t\t\t\t\t<td class="txtAr">12.53</td>\r\n\t\t\t\t\t<td class="txtAr">17.50</td>\r\n\t\t\t\t\t<td class="txtAr">15.71</td>\r\n\t\t\t\t\t<td class="txtAr">14.65</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">15.18</td>\r\n\t\t\t\t\t<td class="txtAr">2.97500</td>\r\n\t\t\t\t\t<td class="txtAr">0.0123</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="남아공화국 ZAR 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'ZAR\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t남아공화국 ZAR\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">89.38</td>\r\n\t\t\t\t\t<td class="txtAr">6.00</td>\r\n\t\t\t\t\t<td class="txtAr">77.59</td>\r\n\t\t\t\t\t<td class="txtAr">8.00</td>\r\n\t\t\t\t\t<td class="txtAr">85.34</td>\r\n\t\t\t\t\t<td class="txtAr">83.32</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">84.33</td>\r\n\t\t\t\t\t<td class="txtAr">7.84566</td>\r\n\t\t\t\t\t<td class="txtAr">0.0684</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="노르웨이 NOK 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'NOK\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t노르웨이 NOK\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">144.20</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">137.32</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">142.16</td>\r\n\t\t\t\t\t<td class="txtAr">139.36</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">139.24</td>\r\n\t\t\t\t\t<td class="txtAr">140.76</td>\r\n\t\t\t\t\t<td class="txtAr">3.17300</td>\r\n\t\t\t\t\t<td class="txtAr">0.1142</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="뉴질랜드 NZD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'NZD\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t뉴질랜드 NZD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">858.79</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">825.61</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">850.62</td>\r\n\t\t\t\t\t<td class="txtAr">833.78</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">833.09</td>\r\n\t\t\t\t\t<td class="txtAr">842.20</td>\r\n\t\t\t\t\t<td class="txtAr">3.02566</td>\r\n\t\t\t\t\t<td class="txtAr">0.6830</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="덴마크 DKK 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'DKK\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t덴마크 DKK\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">185.26</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">176.40</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">182.63</td>\r\n\t\t\t\t\t<td class="txtAr">179.03</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">178.95</td>\r\n\t\t\t\t\t<td class="txtAr">180.83</td>\r\n\t\t\t\t\t<td class="txtAr">1.61100</td>\r\n\t\t\t\t\t<td class="txtAr">0.1467</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="멕시코 MXN 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'MXN\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t멕시코 MXN\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">67.59</td>\r\n\t\t\t\t\t<td class="txtAr">10.00</td>\r\n\t\t\t\t\t<td class="txtAr">56.29</td>\r\n\t\t\t\t\t<td class="txtAr">8.40</td>\r\n\t\t\t\t\t<td class="txtAr">62.06</td>\r\n\t\t\t\t\t<td class="txtAr">60.84</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">61.45</td>\r\n\t\t\t\t\t<td class="txtAr">9.11900</td>\r\n\t\t\t\t\t<td class="txtAr">0.0498</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="몽골 MNT 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'MNT\',\'20220411\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t몽골 MNT\r\n\t\t\t\t\t\t\t\r\

In [256]:
money

              통화       현찰                              송금          T/C사실때  \
              통화     사실 때            파실 때            보낼 때     받을 때 T/C사실때
              통화       환율 Spread       환율 Spread     보낼 때     받을 때 T/C사실때
0         미국 USD  1254.57   1.75  1211.43   1.75  1245.00  1221.00    0.0
1   일본 JPY (100)  1001.38   1.75   966.94   1.75   993.80   974.52    0.0
2         유로 EUR  1371.84   1.99  1318.32   1.99  1358.53  1331.63    0.0
3         중국 CNY   202.95   5.00   183.63   5.00   195.22   191.36    0.0
4         홍콩 HKD   160.40   1.97   154.22   1.97   158.88   155.74    0.0
..           ...      ...    ...      ...    ...      ...      ...    ...
44      탄자니아 TZS     0.00   0.00     0.00   0.00     0.00     0.00    0.0
45       터어키 TRY     0.00   0.00     0.00   0.00    84.58    82.74    0.0
46      파키스탄 PKR     0.00   0.00     0.00   0.00     0.00     0.00    0.0
47       폴란드 PLN   312.86   8.00   266.52   8.00   292.87   286.51    0.0
48       헝가리 HUF     3.86   9.30     3.26   8.00     3.57     3.51    0.0

    외화수표파실때    매매기준율      환가료율   미화환산율
    외화수표파실때    매매기준율      환가료율   미화환산율
    외화수표파실때    매매기준율      환가료율   미화환산율
0   1220.23  1233.00   2.26411  1.0000
1    974.02   984.16   2.05773  0.7982
2   1331.10  1345.08   1.43400  1.0909
3      0.00   193.29   5.19883  0.1568
4    155.66   157.31   2.26366  0.1276
..      ...      ...       ...     ...
44     0.00     0.53   9.98333  0.0004
45     0.00    83.66  44.47500  0.0679
46     0.00     6.77  12.24166  0.0055
47     0.00   289.69   6.15466  0.2349
48     0.00     3.54   7.73166  0.0029

[49 rows x 12 columns]

In [255]:
#beautifulsoup으로 파싱할 필요 없음 간단하게 가능
#pandas에서 table tag만 가능
money = pd.read_html(r.text)[0]

In [190]:
money.iloc[0, 3] #0번째 미국의 컬럼값 3번인 환율

1211.33

* 1월부터 4월까지의 환율 조회

In [158]:
#한달치 환율 긁어오기
pd.date_range("2022-01-01", "2022-03-31")

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
               '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
               '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05',
               '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21',
               '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25',
               '2022-03-26', '2022-03-27', '2022-03-28', '2022-03-29',
               '2022-03-30', '2022-03-31'],
              dtype='datetime64[ns]', freq='D')

In [171]:
date(2022,1,1)+timedelta(days=90)

datetime.date(2022, 4, 1)

In [172]:
all_date=[]
#for문으로
for x in range (0, 90):
    all_date.append(str(date(2022,1,1)+timedelta(days=x)))

In [257]:
all_date

['2022-01-01',
 '2022-01-02',
 '2022-01-03',
 '2022-01-04',
 '2022-01-05',
 '2022-01-06',
 '2022-01-07',
 '2022-01-08',
 '2022-01-09',
 '2022-01-10',
 '2022-01-11',
 '2022-01-12',
 '2022-01-13',
 '2022-01-14',
 '2022-01-15',
 '2022-01-16',
 '2022-01-17',
 '2022-01-18',
 '2022-01-19',
 '2022-01-20',
 '2022-01-21',
 '2022-01-22',
 '2022-01-23',
 '2022-01-24',
 '2022-01-25',
 '2022-01-26',
 '2022-01-27',
 '2022-01-28',
 '2022-01-29',
 '2022-01-30',
 '2022-01-31',
 '2022-02-01',
 '2022-02-02',
 '2022-02-03',
 '2022-02-04',
 '2022-02-05',
 '2022-02-06',
 '2022-02-07',
 '2022-02-08',
 '2022-02-09',
 '2022-02-10',
 '2022-02-11',
 '2022-02-12',
 '2022-02-13',
 '2022-02-14',
 '2022-02-15',
 '2022-02-16',
 '2022-02-17',
 '2022-02-18',
 '2022-02-19',
 '2022-02-20',
 '2022-02-21',
 '2022-02-22',
 '2022-02-23',
 '2022-02-24',
 '2022-02-25',
 '2022-02-26',
 '2022-02-27',
 '2022-02-28',
 '2022-03-01',
 '2022-03-02',
 '2022-03-03',
 '2022-03-04',
 '2022-03-05',
 '2022-03-06',
 '2022-03-07',
 '2022-03-08',
 '2022-03-09',
 '2022-03-10',
 '2022-03-11',
 '2022-03-12',
 '2022-03-13',
 '2022-03-14',
 '2022-03-15',
 '2022-03-16',
 '2022-03-17',
 '2022-03-18',
 '2022-03-19',
 '2022-03-20',
 '2022-03-21',
 '2022-03-22',
 '2022-03-23',
 '2022-03-24',
 '2022-03-25',
 '2022-03-26',
 '2022-03-27',
 '2022-03-28',
 '2022-03-29',
 '2022-03-30',
 '2022-03-31']

In [258]:
for date_ in all_date:
    print(date_)
    #tmpInqStrDt 이 컬럼의 값에 date를 넣고
    #날짜가 inqStrDt 여기도 있으니 여기도 넣고 형식 변환
    payload['tmpInqStrDt'] = date_
    payload['inqStrDt'] = date_.replace("-", "")
    #print(payload)
    r = requests.post(keb_url, data=payload)
    
    money = pd.read_html(r.text)[0]
    print (money.iloc[0,3]) #미국의 환율
    #break

2022-01-01
1211.43
2022-01-02
1211.43
2022-01-03
1211.43
2022-01-04
1211.43
2022-01-05
1211.43
2022-01-06
1211.43
2022-01-07
1211.43
2022-01-08
1211.43
2022-01-09
1211.43
2022-01-10
1211.43
2022-01-11
1211.43
2022-01-12
1211.43
2022-01-13
1211.43
2022-01-14
1211.43
2022-01-15
1211.43
2022-01-16
1211.43
2022-01-17
1211.43
2022-01-18
1211.43
2022-01-19

KeyboardInterrupt:

* 4/1환율 기준으로 달러를->원으로 환율 기준은 만원
* 선수들 연봉을 대상으로 새로운 파생변수 생생 '연봉(만원)'
* 달러로 되어있는 선수들은 4월1일자 환율로 계산

In [177]:
payload2 = {"ajax" : "true",
    "curCd" : "",
    "tmpInqStrDt" : "2022-04-01",
    "pbldDvCd" : "0",
    "pbldSqn" : "",
    "hid_key_data" : "",
    "inqStrDt" : "20220401",
    "inqKindCd" : "1",
    "hid_enc_data" : "",
    "requestTarget" : "searchContentDiv",}

In [178]:
r2 = requests.post(keb_url, data=payload2)

In [ ]:
for x in kbo_df['연봉']:
    print(payload2)
    r2 = requests.post(keb_url, data=payload2)

In [180]:
kbo_df['연봉']

선수명
강정현     3300만원
강효종     3000만원
고우석    27000만원
구본혁     7000만원
김기연     3000만원
        ...
하주석    20090만원
한승주     3000만원
허관회     3370만원
허인서     3000만원
황영국     3400만원
Name: 연봉, Length: 829, dtype: object

In [195]:
kbo_df['연봉'][3][-2:]

'만원'

In [196]:
type(kbo_df['연봉'][3][-2:])

str

In [ ]:
change_m = kbo_df['연봉'][3].replace("달러", "")

In [181]:
r2.text

'\r\n\r\n\r\n\r\n\r\n\r\n\r\n\t\r\n\t<div class="btnRight_tbl mt50">\r\n\t\t<a href="#//HanaBank" class="btnTxt txt" onclick="pbk.foreign.rate.pbld.prs.doExcelDown(\'Y\');" title="현재환율 TXT 다운로드"><span>다운로드</span></a>\r\n\t\t<a href="#//HanaBank" class="btnTxt excel" onclick="pbk.foreign.rate.pbld.prs.doExcelDown(\'N\');" title="현재환율 엑셀 다운로드"><span>다운로드</span></a>\r\n\t\t<a href="#//HanaBank" class="btn_print" onclick="printPopup.open();" title="인쇄하기"><span>인쇄하기</span></a>\r\n\t</div>\r\n\r\n<div class="printdiv">\r\n\t\r\n\t<div style="display:none">\t\r\n\t\t<h4>현재환율</h4>\r\n\t</div>\r\n\t\r\n\t<p class="txtRateBox">\r\n\t<span class="fl"><em>기준일</em> : <strong>2022년04월01일</strong><em>고시회차</em> : <strong>298회차</strong><em>고시시간</em> : <strong>23시01분00초</strong></span>\r\n\t<span class="fr"><em>조회시각</em> : <strong>2022년04월11일 15시02분39초</strong></span>\r\n\t</p>\r\n\t\r\n\t<table class="tblBasic leftNone" summary="통화코드/통화명,매매기준율,현찰,사실때,환율,spread,파실때,환율,spread,송금,보낼때,받을때,미화환산율,TC/환산율,변동환율 항목이 포함된 테이블">\r\n\t<caption>기간별 기준가격 고시회차에 대한 내용</caption>\r\n\t<colgroup>\r\n\t\t<col style="width:*" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:7%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:7%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:7%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t\t<col style="width:8%" />\r\n\t</colgroup>\r\n\t<thead>\r\n\t\t<tr>\r\n\t\t\t<th class="leftNone" scope="col" rowspan="3">통화</th>\r\n\t\t\t<th class="leftLine" scope="col" colspan="4">현찰</th>\r\n\t\t\t<th class="leftLine" scope="col" colspan="2">송금</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">T/C<br />사실때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">외화<br />수표<br />파실때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">매매<br />기준율</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">환가<br />료율</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="3">미화<br />환산율</th>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<th class="leftLine" scope="col" colspan="2">사실 때</th>\r\n\t\t\t<th class="leftLine" scope="col" colspan="2">파실 때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="2">보낼 때</th>\r\n\t\t\t<th class="leftLine" scope="col" rowspan="2">받을 때</th>\r\n\t\t</tr>\r\n\t\t<tr>\r\n\t\t\t<th class="leftLine" scope="col">환율</th>\r\n\t\t\t<th class="leftLine" scope="col">Spread</th>\r\n\t\t\t<th class="leftLine" scope="col">환율</th>\r\n\t\t\t<th class="leftLine" scope="col">Spread</th>\r\n\t\t</tr>\r\n\t\t</thead>\r\n\t\t<tbody>\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="미국 USD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'USD\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t미국 USD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,241.35</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">1,198.65</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">1,231.90</td>\r\n\t\t\t\t\t<td class="txtAr">1,208.10</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">1,207.38</td>\r\n\t\t\t\t\t<td class="txtAr">1,220.00</td>\r\n\t\t\t\t\t<td class="txtAr">2.15240</td>\r\n\t\t\t\t\t<td class="txtAr">1.0000</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="일본 JPY (100) 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'JPY\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t일본 JPY (100)\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,012.72</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">977.90</td>\r\n\t\t\t\t\t<td class="txtAr">1.75</td>\r\n\t\t\t\t\t<td class="txtAr">1,005.06</td>\r\n\t\t\t\t\t<td class="txtAr">985.56</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">985.05</td>\r\n\t\t\t\t\t<td class="txtAr">995.31</td>\r\n\t\t\t\t\t<td class="txtAr">2.06045</td>\r\n\t\t\t\t\t<td class="txtAr">0.8158</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="유로 EUR 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'EUR\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t유로 EUR\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,373.68</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">1,320.08</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">1,360.34</td>\r\n\t\t\t\t\t<td class="txtAr">1,333.42</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">1,332.88</td>\r\n\t\t\t\t\t<td class="txtAr">1,346.88</td>\r\n\t\t\t\t\t<td class="txtAr">1.44800</td>\r\n\t\t\t\t\t<td class="txtAr">1.1040</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="중국 CNY 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'CNY\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t중국 CNY\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">201.08</td>\r\n\t\t\t\t\t<td class="txtAr">5.00</td>\r\n\t\t\t\t\t<td class="txtAr">181.94</td>\r\n\t\t\t\t\t<td class="txtAr">5.00</td>\r\n\t\t\t\t\t<td class="txtAr">193.42</td>\r\n\t\t\t\t\t<td class="txtAr">189.60</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">191.51</td>\r\n\t\t\t\t\t<td class="txtAr">4.88133</td>\r\n\t\t\t\t\t<td class="txtAr">0.1570</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="홍콩 HKD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'HKD\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t홍콩 HKD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">158.78</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">152.66</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">157.27</td>\r\n\t\t\t\t\t<td class="txtAr">154.17</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">154.09</td>\r\n\t\t\t\t\t<td class="txtAr">155.72</td>\r\n\t\t\t\t\t<td class="txtAr">2.25400</td>\r\n\t\t\t\t\t<td class="txtAr">0.1276</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="태국 THB 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'THB\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t태국 THB\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">38.29</td>\r\n\t\t\t\t\t<td class="txtAr">5.00</td>\r\n\t\t\t\t\t<td class="txtAr">34.29</td>\r\n\t\t\t\t\t<td class="txtAr">6.00</td>\r\n\t\t\t\t\t<td class="txtAr">36.83</td>\r\n\t\t\t\t\t<td class="txtAr">36.11</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">36.09</td>\r\n\t\t\t\t\t<td class="txtAr">36.47</td>\r\n\t\t\t\t\t<td class="txtAr">2.52600</td>\r\n\t\t\t\t\t<td class="txtAr">0.0299</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="대만 TWD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'TWD\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t대만 TWD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">48.09</td>\r\n\t\t\t\t\t<td class="txtAr">13.10</td>\r\n\t\t\t\t\t<td class="txtAr">39.55</td>\r\n\t\t\t\t\t<td class="txtAr">7.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">42.52</td>\r\n\t\t\t\t\t<td class="txtAr">2.44300</td>\r\n\t\t\t\t\t<td class="txtAr">0.0349</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="필리핀 PHP 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'PHP\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t필리핀 PHP\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">26.01</td>\r\n\t\t\t\t\t<td class="txtAr">10.00</td>\r\n\t\t\t\t\t<td class="txtAr">21.72</td>\r\n\t\t\t\t\t<td class="txtAr">8.20</td>\r\n\t\t\t\t\t<td class="txtAr">23.88</td>\r\n\t\t\t\t\t<td class="txtAr">23.42</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">23.65</td>\r\n\t\t\t\t\t<td class="txtAr">4.71100</td>\r\n\t\t\t\t\t<td class="txtAr">0.0194</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="싱가포르 SGD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'SGD\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t싱가포르 SGD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">917.03</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">881.25</td>\r\n\t\t\t\t\t<td class="txtAr">1.99</td>\r\n\t\t\t\t\t<td class="txtAr">908.13</td>\r\n\t\t\t\t\t<td class="txtAr">890.15</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">889.57</td>\r\n\t\t\t\t\t<td class="txtAr">899.14</td>\r\n\t\t\t\t\t<td class="txtAr">2.61666</td>\r\n\t\t\t\t\t<td class="txtAr">0.7370</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="호주 AUD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'AUD\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t호주 AUD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">931.84</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">895.84</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">922.97</td>\r\n\t\t\t\t\t<td class="txtAr">904.71</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">904.14</td>\r\n\t\t\t\t\t<td class="txtAr">913.84</td>\r\n\t\t\t\t\t<td class="txtAr">2.31766</td>\r\n\t\t\t\t\t<td class="txtAr">0.7490</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="베트남 VND (100) 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'VND\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t베트남 VND (100)\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">5.97</td>\r\n\t\t\t\t\t<td class="txtAr">11.80</td>\r\n\t\t\t\t\t<td class="txtAr">4.71</td>\r\n\t\t\t\t\t<td class="txtAr">11.80</td>\r\n\t\t\t\t\t<td class="txtAr">5.39</td>\r\n\t\t\t\t\t<td class="txtAr">5.29</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">5.34</td>\r\n\t\t\t\t\t<td class="txtAr">4.38833</td>\r\n\t\t\t\t\t<td class="txtAr">0.0044</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="영국 GBP 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'GBP\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t영국 GBP\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">1,629.12</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">1,566.18</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">1,613.62</td>\r\n\t\t\t\t\t<td class="txtAr">1,581.68</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">1,580.48</td>\r\n\t\t\t\t\t<td class="txtAr">1,597.65</td>\r\n\t\t\t\t\t<td class="txtAr">2.76000</td>\r\n\t\t\t\t\t<td class="txtAr">1.3095</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="캐나다 CAD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'CAD\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t캐나다 CAD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">992.68</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">954.34</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">983.24</td>\r\n\t\t\t\t\t<td class="txtAr">963.78</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">963.05</td>\r\n\t\t\t\t\t<td class="txtAr">973.51</td>\r\n\t\t\t\t\t<td class="txtAr">2.72033</td>\r\n\t\t\t\t\t<td class="txtAr">0.7980</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="말레이시아 MYR 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'MYR\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t말레이시아 MYR\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">308.00</td>\r\n\t\t\t\t\t<td class="txtAr">6.30</td>\r\n\t\t\t\t\t<td class="txtAr">268.31</td>\r\n\t\t\t\t\t<td class="txtAr">7.40</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">286.86</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">289.75</td>\r\n\t\t\t\t\t<td class="txtAr">3.84533</td>\r\n\t\t\t\t\t<td class="txtAr">0.2375</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="러시아 RUB 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'RUB\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t러시아 RUB\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">15.51</td>\r\n\t\t\t\t\t<td class="txtAr">9.50</td>\r\n\t\t\t\t\t<td class="txtAr">11.70</td>\r\n\t\t\t\t\t<td class="txtAr">17.50</td>\r\n\t\t\t\t\t<td class="txtAr">14.66</td>\r\n\t\t\t\t\t<td class="txtAr">13.68</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">14.17</td>\r\n\t\t\t\t\t<td class="txtAr">2.97500</td>\r\n\t\t\t\t\t<td class="txtAr">0.0116</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="남아공화국 ZAR 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'ZAR\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t남아공화국 ZAR\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">88.14</td>\r\n\t\t\t\t\t<td class="txtAr">6.00</td>\r\n\t\t\t\t\t<td class="txtAr">76.51</td>\r\n\t\t\t\t\t<td class="txtAr">8.00</td>\r\n\t\t\t\t\t<td class="txtAr">84.15</td>\r\n\t\t\t\t\t<td class="txtAr">82.17</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">83.16</td>\r\n\t\t\t\t\t<td class="txtAr">7.75566</td>\r\n\t\t\t\t\t<td class="txtAr">0.0682</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="노르웨이 NOK 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'NOK\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t노르웨이 NOK\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">142.68</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">135.86</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">140.66</td>\r\n\t\t\t\t\t<td class="txtAr">137.88</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">137.76</td>\r\n\t\t\t\t\t<td class="txtAr">139.27</td>\r\n\t\t\t\t\t<td class="txtAr">3.11333</td>\r\n\t\t\t\t\t<td class="txtAr">0.1142</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="뉴질랜드 NZD 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'NZD\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t뉴질랜드 NZD\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">859.50</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">826.30</td>\r\n\t\t\t\t\t<td class="txtAr">1.97</td>\r\n\t\t\t\t\t<td class="txtAr">851.32</td>\r\n\t\t\t\t\t<td class="txtAr">834.48</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">833.80</td>\r\n\t\t\t\t\t<td class="txtAr">842.90</td>\r\n\t\t\t\t\t<td class="txtAr">2.98866</td>\r\n\t\t\t\t\t<td class="txtAr">0.6909</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="덴마크 DKK 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'DKK\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t덴마크 DKK\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">185.51</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">176.65</td>\r\n\t\t\t\t\t<td class="txtAr">2.45</td>\r\n\t\t\t\t\t<td class="txtAr">182.89</td>\r\n\t\t\t\t\t<td class="txtAr">179.27</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">179.19</td>\r\n\t\t\t\t\t<td class="txtAr">181.08</td>\r\n\t\t\t\t\t<td class="txtAr">1.61767</td>\r\n\t\t\t\t\t<td class="txtAr">0.1484</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="멕시코 MXN 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'MXN\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t멕시코 MXN\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t</u>\r\n\t\t\t\t\t\t</a>\r\n\t\t\t\t\t</td>\r\n\t\t\t\t\t<td class="txtAr">67.58</td>\r\n\t\t\t\t\t<td class="txtAr">10.00</td>\r\n\t\t\t\t\t<td class="txtAr">56.28</td>\r\n\t\t\t\t\t<td class="txtAr">8.40</td>\r\n\t\t\t\t\t<td class="txtAr">62.05</td>\r\n\t\t\t\t\t<td class="txtAr">60.83</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">0.00</td>\r\n\t\t\t\t\t<td class="txtAr">61.44</td>\r\n\t\t\t\t\t<td class="txtAr">8.97600</td>\r\n\t\t\t\t\t<td class="txtAr">0.0504</td>\r\n\t\t\t\t\t\r\n\t\t\t\t</tr>\r\n\t\t\t\t\r\n\t\t\t\t<tr>\r\n\t\t\t\t\t<td class="tc">\r\n\t\t\t\t\t\t<a href="#//HanaBank" title="몽골 MNT 일일변동내역 보기" onclick="pbk.foreign.rate.pbld.prs.goFluctuation(\'MNT\',\'20220401\');" >\r\n\t\t\t\t\t\t\t<u>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t\t몽골 MNT\

In [183]:
money2 = pd.read_html(r2.text)[0]

In [185]:
money2.iloc[0, 3] #0번째 미국의 컬럼값 3번인 환율

1198.65

In [ ]:
for x in kbo_df['연봉']:
    r2 = requests.post(keb_url, data=payload2)
    money2 = pd.read_html(r2.text)[0]
    if kbo_df['연봉'][x][-2:]:

-------------------------------------------

In [198]:
kbo_df['연봉'].apply(lambda x : x[-2:] == '달러')

선수명
강정현    False
강효종    False
고우석    False
구본혁    False
김기연    False
       ...
하주석    False
한승주    False
허관회    False
허인서    False
황영국    False
Name: 연봉, Length: 829, dtype: bool

In [199]:
kbo_df.head(1)

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi,나이,탄생요일
선수명,,,,,,,,,,,,,
강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778,27,토

In [200]:
kbo_df.loc[kbo_df['연봉'] != "", '연봉(만원)'] = kbo_df.loc[kbo_df['연봉'] != "", '연봉'].apply(lambda x : int(x[:-2]) * money.iloc[0,3] / 10000  if x[-2:] == '달러' else int(x[:-2]) )

In [202]:
kbo_df.head(10)

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi,나이,탄생요일,연봉(만원)
선수명,,,,,,,,,,,,,,
강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778,27,토,3300.0
강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701,20,월,3000.0
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632,24,목,27000.0
구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481,25,토,7000.0
김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588,25,일,3000.0
김대유,No.69,1991년 05월 08일,투수(좌투좌타),부산중앙초-부산중-부산고-히어로즈-SK-KT,6000만원,12500만원,10 넥센 3라운드 18순위,10넥센,92,187,26.309017,31,수,12500.0
김대현,No.109,2001년 01월 05일,투수(우투우타),서화초-석남중-성지고,3000만원,3000만원,21 LG 2차 8라운드 77순위,,96,188,27.161612,21,금,3000.0
김민성,No.16,1988년 12월 17일,내야수(우투우타),고명초-잠신중-덕수고-(영남사이버대)-롯데-히어로즈-키움,10000만원,18000만원,07 롯데 2차 2라운드 13순위,07롯데,94,181,28.692653,34,토,18000.0
김성우,No.105,2003년 11월 15일,포수(우투우타),성동초-건대부중-배재고,5000만원,3000만원,22 LG 2차 7라운드 67순위,,85,180,26.234568,19,토,3000.0
김성협,No.102,1999년 01월 29일,내야수(좌투좌타),백마초-홍은중-성남고,7000만원,3000만원,17 LG 2차 4라운드 32순위,17LG,88,187,25.165146,23,금,3000.0

In [203]:
kbo_df.isnull().sum()
#두 선수는 연봉 정보가 없어서 결집치가 되었음

등번호       0
생년월일      0
포지션       0
경력        0
입단 계약금    0
         ..
신장        0
bmi       0
나이        0
탄생요일      0
연봉(만원)    2
Length: 14, dtype: int64

팀정보도 불러오기

In [204]:
with open("./kbo_player.pkl", "rb") as f:
    kbo_dict2 = pickle.load(f)

In [205]:
pd.DataFrame(kbo_dict2)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG 랜더스
1,고명준,No.6,2002년 07월 08일,내야수(우투우타),185cm/94kg,서원초-세광중-세광고-SK,9000만원,3000만원,21 SK 2차 2라운드 18순위,21SK,SSG 랜더스
2,고효준,No.65,1983년 02월 08일,투수(좌투좌타),179cm/81kg,서원초-세광중-세광고-롯데-SK-KIA-롯데-LG,11000만원,4000만원,02 롯데 2차 1라운드 6순위,02롯데,SSG 랜더스
3,김강민,No.0,1982년 09월 13일,외야수(우투우타),182cm/87kg,본리초-대구중-경북고-SK,11000만원,16000만원,01 SK 2차 2라운드 18순위,01SK,SSG 랜더스
4,김건우,No.59,2002년 07월 12일,투수(좌투좌타),185cm/88kg,가현초(인천서구리틀)-동산중-제물포고-SK,20000만원,3100만원,21 SK 1차,21SK,SSG 랜더스
...,...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),184cm/84kg,강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,한화 이글스
825,한승주,No.59,2001년 03월 17일,투수(우투우타),184cm/82kg,부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,한화 이글스
826,허관회,No.26,1999년 02월 12일,포수(우투우타),176cm/83kg,경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,한화 이글스
827,허인서,No.64,2003년 07월 11일,포수(우투우타),182cm/93kg,순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,한화 이글스
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),185cm/83kg,청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,한화 이글스

In [266]:
tmp_df = pd.DataFrame(kbo_dict2)
tmp_df

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG 랜더스
1,고명준,No.6,2002년 07월 08일,내야수(우투우타),185cm/94kg,서원초-세광중-세광고-SK,9000만원,3000만원,21 SK 2차 2라운드 18순위,21SK,SSG 랜더스
2,고효준,No.65,1983년 02월 08일,투수(좌투좌타),179cm/81kg,서원초-세광중-세광고-롯데-SK-KIA-롯데-LG,11000만원,4000만원,02 롯데 2차 1라운드 6순위,02롯데,SSG 랜더스
3,김강민,No.0,1982년 09월 13일,외야수(우투우타),182cm/87kg,본리초-대구중-경북고-SK,11000만원,16000만원,01 SK 2차 2라운드 18순위,01SK,SSG 랜더스
4,김건우,No.59,2002년 07월 12일,투수(좌투좌타),185cm/88kg,가현초(인천서구리틀)-동산중-제물포고-SK,20000만원,3100만원,21 SK 1차,21SK,SSG 랜더스
...,...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),184cm/84kg,강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,한화 이글스
825,한승주,No.59,2001년 03월 17일,투수(우투우타),184cm/82kg,부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,한화 이글스
826,허관회,No.26,1999년 02월 12일,포수(우투우타),176cm/83kg,경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,한화 이글스
827,허인서,No.64,2003년 07월 11일,포수(우투우타),182cm/93kg,순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,한화 이글스
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),185cm/83kg,청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,한화 이글스

In [263]:
tmp_df2 = tmp_df[['선수명', 'Team']].copy()
tmp_df2 #두컬럼만 빼서 적용

KeyError: ('선수명', 'Team')

In [269]:
tmp_df3=tmp_df.loc[:, ['선수명', 'Team']]
tmp_df3

     선수명     Team
0    강매성  SSG 랜더스
1    고명준  SSG 랜더스
2    고효준  SSG 랜더스
3    김강민  SSG 랜더스
4    김건우  SSG 랜더스
..   ...      ...
824  하주석   한화 이글스
825  한승주   한화 이글스
826  허관회   한화 이글스
827  허인서   한화 이글스
828  황영국   한화 이글스

[829 rows x 2 columns]

In [276]:
tmp_df.set_index("선수명", inplace=True)

In [277]:
tmp_df

        Team
선수명
강매성  SSG 랜더스
고명준  SSG 랜더스
고효준  SSG 랜더스
김강민  SSG 랜더스
김건우  SSG 랜더스
..       ...
하주석   한화 이글스
한승주   한화 이글스
허관회   한화 이글스
허인서   한화 이글스
황영국   한화 이글스

[829 rows x 1 columns]

In [219]:
tmp_df.head(1) # 과  join 할 것

        Team
선수명
강매성  SSG 랜더스

In [285]:
#merge 기능은 붙이고 싶은 frame 적고, 선수명이 지금 index니까이렇게 적고, 
#how는 어떤걸 기준으로 할까?
kbo_df2 = pd.merge(kbo_df, tmp_df[:5], left_index=True, right_index=True, how='right')

In [286]:
kbo_df3 = pd.merge(kbo_df[:20], tmp_df, left_index=True, right_index=True, how='left')

In [278]:
tmp_df #right

        Team
선수명
강매성  SSG 랜더스
고명준  SSG 랜더스
고효준  SSG 랜더스
김강민  SSG 랜더스
김건우  SSG 랜더스
..       ...
하주석   한화 이글스
한승주   한화 이글스
허관회   한화 이글스
허인서   한화 이글스
황영국   한화 이글스

[829 rows x 1 columns]

In [271]:
kbo_df # left

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi,나이,탄생요일,연봉(만원)
선수명,,,,,,,,,,,,,,
강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778,28,토,3300.0
강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701,21,월,3000.0
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632,25,목,27000.0
구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481,26,토,7000.0
김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588,26,일,3000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
하주석,No.16,1994년 02월 25일,내야수(우투좌타),강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,84,184,24.810964,29,금,20090.0
한승주,No.59,2001년 03월 17일,투수(우투우타),부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,82,184,24.220227,22,토,3000.0
허관회,No.26,1999년 02월 12일,포수(우투우타),경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,83,176,26.794938,24,금,3370.0
허인서,No.64,2003년 07월 11일,포수(우투우타),순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,93,182,28.076319,20,금,3000.0
황영국,No.58,1995년 12월 26일,투수(좌투좌타),청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,83,185,24.251278,28,화,3400.0

In [287]:
kbo_df2

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi,나이,탄생요일,연봉(만원),Team
선수명,,,,,,,,,,,,,,,
강매성,No.95,2003년 06월 08일,투수(우투우타),상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,94,187,26.880952,20,일,3000.0,SSG 랜더스
고명준,No.6,2002년 07월 08일,내야수(우투우타),서원초-세광중-세광고-SK,9000만원,3000만원,21 SK 2차 2라운드 18순위,21SK,94,185,27.465303,21,월,3000.0,SSG 랜더스
고효준,No.65,1983년 02월 08일,투수(좌투좌타),서원초-세광중-세광고-롯데-SK-KIA-롯데-LG,11000만원,4000만원,02 롯데 2차 1라운드 6순위,02롯데,81,179,25.280110,40,화,4000.0,SSG 랜더스
김강민,No.0,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고-SK,11000만원,16000만원,01 SK 2차 2라운드 18순위,01SK,87,182,26.264944,41,월,16000.0,SSG 랜더스
김건우,No.59,2002년 07월 12일,투수(좌투좌타),가현초(인천서구리틀)-동산중-제물포고-SK,20000만원,3100만원,21 SK 1차,21SK,88,185,25.712199,21,금,3100.0,SSG 랜더스

In [288]:
kbo_df3

,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,체중,신장,bmi,나이,탄생요일,연봉(만원),Team
선수명,,,,,,,,,,,,,,,
강정현,No.100,1995년 09월 23일,투수(우투우타),남부민초-대신중-부경고-원광대-LG-상무,7000만원,3300만원,19 LG 2차 4라운드 35순위,19LG,90,180,27.777778,28,토,3300.0,LG 트윈스
강효종,No.43,2002년 10월 14일,투수(우투우타),저동초(일산서구리틀)-충암중-충암고,20000만원,3000만원,21 LG 1차,21LG,86,184,25.401701,21,월,3000.0,LG 트윈스
고우석,No.19,1998년 08월 06일,투수(우투우타),갈산초-양천중-충암고,30000만원,27000만원,17 LG 1차,17LG,90,182,27.170632,25,목,27000.0,LG 트윈스
구본혁,No.4,1997년 01월 11일,내야수(우투우타),중대초-잠신중-장충고-동국대,5000만원,7000만원,19 LG 2차 6라운드 55순위,19LG,75,177,23.939481,26,토,7000.0,LG 트윈스
김기연,No.122,1997년 09월 07일,포수(우투우타),광주수창초-진흥중-진흥고,7000만원,3000만원,16 LG 2차 4라운드 34순위,17LG,95,178,29.983588,26,일,3000.0,LG 트윈스
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
김지용,No.104,2002년 10월 07일,투수(좌투좌타),구리초(구리리틀)-구리인창중-라온고,4000만원,3000만원,21 LG 2차 6라운드 57순위,,75,180,23.148148,21,월,3000.0,두산 베어스
김진성,No.42,1985년 03월 07일,투수(우투우타),인헌초-성남중-성남서고-SK-NC,,10000만원,04 SK 2차 6라운드 42순위,05SK,92,186,26.592670,38,목,10000.0,LG 트윈스
김태형,No.110,1998년 09월 17일,투수(좌투좌타),솔빛초(수지리틀)-대치중-선린인터넷고,3000만원,3200만원,17 LG 2차 9라운드 82순위,18LG,98,190,27.146814,25,목,3200.0,LG 트윈스
김현수,No.22,1988년 01월 12일,외야수(우투좌타),쌍문초-신일중-신일고-두산-볼티모어-필라델피아,,150000만원,06 두산 육성선수,06두산,100,188,28.293345,35,화,150000.0,LG 트윈스
김현수,No.22,1988년 01월 12일,외야수(우투좌타),쌍문초-신일중-신일고-두산-볼티모어-필라델피아,,150000만원,06 두산 육성선수,06두산,100,188,28.293345,35,화,150000.0,KIA 타이거즈

### ******집계*****
##### group by
* max, min, median, meadn, std, var

In [223]:
# 집계 하고싶은 대상,  그 다음알고싶은 것
kbo_df2.groupby(['Team'])[['연봉(만원)']].mean().sort_values(by=['연봉(만원)'])

                연봉(만원)
Team
고양 히어로즈    3517.391304
한화 이글스     9309.227011
롯데 자이언츠   10018.490969
KT 위즈     11391.871809
키움 히어로즈   11985.060764
...                ...
두산 베어스    13412.977083
KIA 타이거즈  14397.903723
NC 다이노스   14951.220444
삼성 라이온즈   15326.241667
SSG 랜더스   30161.953889

[11 rows x 1 columns]

In [224]:
#중간값
kbo_df2.groupby(['Team'])[['연봉(만원)']].median().sort_values(by=['연봉(만원)'])

          연봉(만원)
Team
고양 히어로즈   3000.0
NC 다이노스   3100.0
KT 위즈     3200.0
SSG 랜더스   3200.0
한화 이글스    3200.0
...          ...
롯데 자이언츠   3300.0
KIA 타이거즈  3600.0
LG 트윈스    4000.0
삼성 라이온즈   4000.0
키움 히어로즈   4050.0

[11 rows x 1 columns]

In [228]:
#최고
kbo_df2.groupby(['Team'])[['연봉(만원)']].max().sort_values(by=['연봉(만원)'])

            연봉(만원)
Team
고양 히어로즈    11500.0
KT 위즈      96906.4
롯데 자이언츠   100000.0
한화 이글스    100000.0
키움 히어로즈   109019.7
...            ...
NC 다이노스   193812.8
두산 베어스    193812.8
KIA 타이거즈  200000.0
삼성 라이온즈   250000.0
SSG 랜더스   810000.0

[11 rows x 1 columns]

In [227]:
#표준편차
kbo_df2.groupby(['Team'])[['연봉(만원)']].std().sort_values(by=['연봉(만원)'])

                연봉(만원)
Team
고양 히어로즈    1954.633696
롯데 자이언츠   17712.490980
KT 위즈     18029.248297
한화 이글스    18337.315719
키움 히어로즈   19080.336001
...                ...
두산 베어스    28938.907293
KIA 타이거즈  34291.144556
NC 다이노스   34315.593560
삼성 라이온즈   35057.547573
SSG 랜더스   96447.950407

[11 rows x 1 columns]

* max, min, median, meadn, std, var 익러 원샷 6킬 하는법

In [229]:
kbo_df2.groupby(['Team'])[['연봉(만원)']].agg(['max', 'min', 'std', 'var', 'median', 'mean'])

            연봉(만원)
               max     min           std           var  median          mean
Team
KIA 타이거즈  200000.0  3000.0  34291.144556  1.175883e+09  3600.0  14397.903723
KT 위즈      96906.4  2700.0  18029.248297  3.250538e+08  3200.0  11391.871809
LG 트윈스    150000.0  2700.0  23768.089300  5.649221e+08  4000.0  13201.729167
NC 다이노스   193812.8  3000.0  34315.593560  1.177560e+09  3100.0  14951.220444
SSG 랜더스   810000.0  3000.0  96447.950407  9.302207e+09  3200.0  30161.953889
...            ...     ...           ...           ...     ...           ...
두산 베어스    193812.8  3000.0  28938.907293  8.374604e+08  3250.0  13412.977083
롯데 자이언츠   100000.0  3000.0  17712.490980  3.137323e+08  3300.0  10018.490969
삼성 라이온즈   250000.0  3000.0  35057.547573  1.229032e+09  4000.0  15326.241667
키움 히어로즈   109019.7  2700.0  19080.336001  3.640592e+08  4050.0  11985.060764
한화 이글스    100000.0  3000.0  18337.315719  3.362571e+08  3200.0   9309.227011

[11 rows x 6 columns]

In [291]:
kbo_df2.groupby(['Team'])[['연봉(만원)']].describe()

        연봉(만원)
         count    mean          std     min     25%     50%     75%      max
Team
SSG 랜더스    5.0  5820.0  5706.312294  3000.0  3000.0  3100.0  4000.0  16000.0