In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://finance.naver.com/item/sise_day.naver?code=005930&page=1"

In [3]:
head = {"user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.57 Whale/3.14.133.23 Safari/537.36"}

In [4]:
r = requests.get(url, headers=head)

In [5]:
bs = BeautifulSoup(r.text, 'lxml')
bs

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.08</span></td>
<td class="num"><span class="tah p11">67,800</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">68,100</span></td>
<td class="num"><span class="tah p11">68,300</span></td>
<td class="num"><span class="tah p11">67,700</span></td>
<td class="num"><span class="tah p11">15,356,599</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.07</span></td>
<td class="num"><span class="tah p11">68,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num"><span class="tah p11">68,000</span></td>
<td class="num"><span class="tah p11">20,683,327</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.06</span></td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				700
				</span>
</td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num"><span class="tah p11">68,800</span></td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num"><span class="tah p11">15,517,308</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.05</span></td>
<td class="num"><span class="tah p11">69,200</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">69,400</span></td>
<td class="num"><span class="tah p11">69,600</span></td>
<td class="num"><span class="tah p11">69,100</span></td>
<td class="num"><span class="tah p11">8,467,248</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.04</span></td>
<td class="num"><span class="tah p11">69,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">68,900</span></td>
<td class="num"><span class="tah p11">69,300</span></td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num"><span class="tah p11">11,107,905</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.01</span></td>
<td class="num"><span class="tah p11">69,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">69,500</span></td>
<td class="num"><span class="tah p11">69,500</span></td>
<td class="num"><span class="tah p11">69,000</span></td>
<td class="num"><span class="tah p11">15,916,846</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.31</span></td>
<td class="num"><span class="tah p11">69,600</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				300
				</span>
</td>
<td class="num"><span class="tah p11">69,900</span></td>
<td class="num"><span class="tah p11">70,200</span></td>
<td class="num"><span class="tah p11">69,600</span></td>
<td class="num"><span class="tah p11">12,510,366</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.30</span></td>
<td class="num"><span class="tah p11">69,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				300
				</span>
</td>
<td class="num"><span class="tah p11">70,300</span></td>
<td class="num"><span class="tah p11">70,500</span></td>
<td class="num"><span class="tah p11">69,800</span></td>
<td class="num"><span class="tah p11">12,670,187</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.29</span></td>
<td class="num"><span class="tah p11">70,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				500
				</span>
</td>
<td class="num"><span class="tah p11">70,000</span></td>
<td class="num"><span class="tah p11">70,300</span></td>
<td class="num"><span class="tah p11">69,800</span></td>
<td class="num"><span class="tah p11">13,686,208</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.28</span></td>
<td class="num"><span class="tah p11">69,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">69,500</span></td>
<td class="num"><span class="tah p11">69,900</span></td>
<td class="num"><span class="tah p11">69,200</span></td>
<td class="num"><span class="tah p11">12,619,289</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.naver?code=005930&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.naver?code=005930&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.naver?code=005930&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.naver?code=005930&amp;page=648">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220407160311/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body></html>

## 데이터 파싱하기
- 일 데이터를 하나의 list 담고 그 데이터를 전체 리스터 담는 구조
- [ [], [], [], [] ]

In [6]:
for idx, x in enumerate(bs.find("table").findAll("tr")[2:]): #시퀀스형 데이터(여러 객체를 저장하는 자료형)
    print(idx, x)
    print("--------------")

0 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.08</span></td>
<td class="num"><span class="tah p11">67,800</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				200
				</span>
</td>
<td class="num"><span class="tah p11">68,100</span></td>
<td class="num"><span class="tah p11">68,300</span></td>
<td class="num"><span class="tah p11">67,700</span></td>
<td class="num"><span class="tah p11">15,356,599</span></td>
</tr>
--------------
1 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.07</span></td>
<td class="num"><span class="tah p11">68,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num"><span class="tah p11">68,000</span></td>
<td class="num"><span class="tah p11">20,683,327</span></td>
</tr>
--------------
2 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.06</span></td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				700
				</span>
</td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num"><span class="tah p11">68,800</span></td>
<td class="num"><span class="tah p11">68,500</span></td>
<td class="num"><span class="tah p11">15,517,308</span></td>
</tr>
--------------
3 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.05</span></td>
<td class="num"><span class="tah p11">69,200</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">69,400</span></td>
<td class="num"><span class="tah p11">69,600</span></td>
<td class="num"><span class="tah p11">69,100</span></td>
<td class="num"><span class="tah p11">8,467,248</span></td>
</tr>
--------------
4 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.04</span></td>
<td class="num"><span class="tah p11">69,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="num"><span class="tah p11">68,900</span></td>
<td class="num"><span class="tah p11">69,300</span></td>
<td class="num"><span class="tah p11">68,600</span></td>
<td class="num"><span class="tah p11">11,107,905</span></td>
</tr>
--------------
5 <tr>
<td colspan="7" height="8"></td>
</tr>
--------------
6 <tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
--------------
7 <tr>
<td colspan="7" height="8"></td>
</tr>
--------------
8 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.04.01</span></td>
<td class="num"><span class="tah p11">69,100</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">69,500</span></td>
<td class="num"><span class="tah p11">69,500</span></td>
<td class="num"><span class="tah p11">69,000</span></td>
<td class="num"><span class="tah p11">15,916,846</span></td>
</tr>
--------------
9 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.31</span></td>
<td class="num"><span class="tah p11">69,600</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				300
				</span>
</td>
<td class="num"><span class="tah p11">69,900</span></td>
<td class="num"><span class="tah p11">70,200</span></td>
<td class="num"><span class="tah p11">69,600</span></td>
<td class="num"><span class="tah p11">12,510,366</span></td>
</tr>
--------------
10 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.30</span></td>
<td class="num"><span class="tah p11">69,900</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				300
				</span>
</td>
<td class="num"><span class="tah p11">70,300</span></td>
<td class="num"><span class="tah p11">70,500</span></td>
<td class="num"><span class="tah p11">69,800</span></td>
<td class="num"><span class="tah p11">12,670,187</span></td>
</tr>
--------------
11 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.29</span></td>
<td class="num"><span class="tah p11">70,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				500
				</span>
</td>
<td class="num"><span class="tah p11">70,000</span></td>
<td class="num"><span class="tah p11">70,300</span></td>
<td class="num"><span class="tah p11">69,800</span></td>
<td class="num"><span class="tah p11">13,686,208</span></td>
</tr>
--------------
12 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.03.28</span></td>
<td class="num"><span class="tah p11">69,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">69,500</span></td>
<td class="num"><span class="tah p11">69,900</span></td>
<td class="num"><span class="tah p11">69,200</span></td>
<td class="num"><span class="tah p11">12,619,289</span></td>
</tr>
--------------
13 <tr>
<td colspan="7" height="8"></td>
</tr>
--------------

In [7]:
[x.text.strip() for x in bs.find("table").findAll("tr")[2].findAll("td")]

['2022.04.08', '67,800', '200', '68,100', '68,300', '67,700', '15,356,599']

In [8]:
print(bs.find("table").findAll("tr")[7].findAll("td"))
len(bs.find("table").findAll("tr")[7].findAll("td"))

[<td colspan="7" height="8"></td>]

1

In [9]:
# 틀린코드
# for idx, x in enumerate(bs.find("table").findAll("tr")[2:]):
#     if len(x.findAll("td")) > 1:
#         print ([x.text.strip() for x in bs.find("table").findAll("tr")[2].findAll("td")])
tmp = []
for idx, x in enumerate(bs.find("table").findAll("tr")[2:]):
    if len(x.findAll("td")) > 1:
        tmp.append ([x.text.strip() for x in x.findAll("td")])
tmp

[['2022.04.08', '67,800', '200', '68,100', '68,300', '67,700', '15,356,599'],
 ['2022.04.07', '68,000', '500', '68,500', '68,500', '68,000', '20,683,327'],
 ['2022.04.06', '68,500', '700', '68,600', '68,800', '68,500', '15,517,308'],
 ['2022.04.05', '69,200', '100', '69,400', '69,600', '69,100', '8,467,248'],
 ['2022.04.04', '69,300', '200', '68,900', '69,300', '68,600', '11,107,905'],
 ['2022.04.01', '69,100', '500', '69,500', '69,500', '69,000', '15,916,846'],
 ['2022.03.31', '69,600', '300', '69,900', '70,200', '69,600', '12,510,366'],
 ['2022.03.30', '69,900', '300', '70,300', '70,500', '69,800', '12,670,187'],
 ['2022.03.29', '70,200', '500', '70,000', '70,300', '69,800', '13,686,208'],
 ['2022.03.28', '69,700', '100', '69,500', '69,900', '69,200', '12,619,289']]

In [10]:
tmp2 = [[x.text.strip() for x in x.findAll("td")] for idx, x in enumerate(bs.find("table").findAll("tr")[2:]) if len(x.findAll("td")) > 1]
tmp2

[['2022.04.08', '67,800', '200', '68,100', '68,300', '67,700', '15,356,599'],
 ['2022.04.07', '68,000', '500', '68,500', '68,500', '68,000', '20,683,327'],
 ['2022.04.06', '68,500', '700', '68,600', '68,800', '68,500', '15,517,308'],
 ['2022.04.05', '69,200', '100', '69,400', '69,600', '69,100', '8,467,248'],
 ['2022.04.04', '69,300', '200', '68,900', '69,300', '68,600', '11,107,905'],
 ['2022.04.01', '69,100', '500', '69,500', '69,500', '69,000', '15,916,846'],
 ['2022.03.31', '69,600', '300', '69,900', '70,200', '69,600', '12,510,366'],
 ['2022.03.30', '69,900', '300', '70,300', '70,500', '69,800', '12,670,187'],
 ['2022.03.29', '70,200', '500', '70,000', '70,300', '69,800', '13,686,208'],
 ['2022.03.28', '69,700', '100', '69,500', '69,900', '69,200', '12,619,289']]

In [11]:
# 종목도 바꾸고 페이지도 바꾸고 싶을때?
url = "https://finance.naver.com/item/sise_day.naver?code={}&page={}"
# 005930

### 사용자 함수 만들기
* 사용자한테 종목 코드와 페이지 번호를 받으면 데이터를 파싱해서 리스트 형태로 리턴한다.

In [12]:
def get_stock_day(code, page):
    url = "https://finance.naver.com/item/sise_day.naver?code={}&page={}"
    r = requests.get(url.format(code, page), headers=head)
    bs = BeautifulSoup(r.text, 'lxml')
    return [[x.text.strip() for x in x.findAll("td")] for idx, x in enumerate(bs.find("table").findAll("tr")[2:]) if len(x.findAll("td")) > 1]

In [13]:
get_stock_day("005930", "2")

[['2022.03.25', '69,800', '0', '70,100', '70,200', '69,600', '12,986,010'],
 ['2022.03.24', '69,800', '700', '69,600', '70,300', '69,600', '37,943,357'],
 ['2022.03.23', '70,500', '200', '70,600', '71,200', '70,300', '12,398,025'],
 ['2022.03.22', '70,300', '400', '69,900', '70,500', '69,900', '9,402,666'],
 ['2022.03.21', '69,900', '800', '70,900', '71,000', '69,900', '11,169,002'],
 ['2022.03.18', '70,700', '500', '70,600', '70,900', '70,200', '14,410,038'],
 ['2022.03.17', '71,200', '800', '71,200', '71,800', '70,900', '17,646,315'],
 ['2022.03.16', '70,400', '900', '70,200', '70,500', '69,700', '10,175,750'],
 ['2022.03.15', '69,500', '700', '69,800', '70,100', '69,500', '10,258,562'],
 ['2022.03.14', '70,200', '200', '70,000', '70,200', '69,600', '9,040,993']]

In [14]:
total = []
for x in range(1, 11):
    total.extend(get_stock_day("005930", x))

In [15]:
len(total)

100

In [16]:
total

[['2022.04.08', '67,800', '200', '68,100', '68,300', '67,700', '15,356,599'],
 ['2022.04.07', '68,000', '500', '68,500', '68,500', '68,000', '20,683,327'],
 ['2022.04.06', '68,500', '700', '68,600', '68,800', '68,500', '15,517,308'],
 ['2022.04.05', '69,200', '100', '69,400', '69,600', '69,100', '8,467,248'],
 ['2022.04.04', '69,300', '200', '68,900', '69,300', '68,600', '11,107,905'],
 ['2022.04.01', '69,100', '500', '69,500', '69,500', '69,000', '15,916,846'],
 ['2022.03.31', '69,600', '300', '69,900', '70,200', '69,600', '12,510,366'],
 ['2022.03.30', '69,900', '300', '70,300', '70,500', '69,800', '12,670,187'],
 ['2022.03.29', '70,200', '500', '70,000', '70,300', '69,800', '13,686,208'],
 ['2022.03.28', '69,700', '100', '69,500', '69,900', '69,200', '12,619,289'],
 ['2022.03.25', '69,800', '0', '70,100', '70,200', '69,600', '12,986,010'],
 ['2022.03.24', '69,800', '700', '69,600', '70,300', '69,600', '37,943,357'],
 ['2022.03.23', '70,500', '200', '70,600', '71,200', '70,300', '12,398,025'],
 ['2022.03.22', '70,300', '400', '69,900', '70,500', '69,900', '9,402,666'],
 ['2022.03.21', '69,900', '800', '70,900', '71,000', '69,900', '11,169,002'],
 ['2022.03.18', '70,700', '500', '70,600', '70,900', '70,200', '14,410,038'],
 ['2022.03.17', '71,200', '800', '71,200', '71,800', '70,900', '17,646,315'],
 ['2022.03.16', '70,400', '900', '70,200', '70,500', '69,700', '10,175,750'],
 ['2022.03.15', '69,500', '700', '69,800', '70,100', '69,500', '10,258,562'],
 ['2022.03.14', '70,200', '200', '70,000', '70,200', '69,600', '9,040,993'],
 ['2022.03.11', '70,000', '1,200', '70,500', '70,700', '69,700', '15,787,655'],
 ['2022.03.10', '71,200', '1,700', '70,800', '71,200', '70,500', '21,159,248'],
 ['2022.03.08', '69,500', '600', '68,800', '70,000', '68,700', '15,828,269'],
 ['2022.03.07', '70,100', '1,400', '70,000', '70,600', '69,900', '18,617,138'],
 ['2022.03.04', '71,500', '1,400', '72,700', '72,700', '71,200', '13,409,634'],
 ['2022.03.03', '72,900', '1,200', '72,300', '73,100', '72,200', '13,232,638'],
 ['2022.03.02', '71,700', '400', '72,300', '72,400', '71,500', '12,481,430'],
 ['2022.02.28', '72,100', '200', '71,100', '72,100', '71,000', '17,781,783'],
 ['2022.02.25', '71,900', '400', '72,100', '72,600', '71,900', '13,168,484'],
 ['2022.02.24', '71,500', '1,500', '72,300', '72,300', '71,300', '15,759,283'],
 ['2022.02.23', '73,000', '400', '73,800', '73,800', '72,800', '10,397,964'],
 ['2022.02.22', '73,400', '800', '73,000', '73,400', '72,800', '11,692,469'],
 ['2022.02.21', '74,200', '100', '73,200', '74,300', '72,600', '10,489,717'],
 ['2022.02.18', '74,300', '700', '74,600', '74,800', '73,700', '10,122,226'],
 ['2022.02.17', '75,000', '200', '75,000', '75,600', '74,500', '13,605,382'],
 ['2022.02.16', '74,800', '1,100', '74,600', '74,900', '74,200', '10,767,386'],
 ['2022.02.15', '73,700', '0', '74,100', '74,200', '73,100', '9,320,365'],
 ['2022.02.14', '73,700', '1,200', '74,400', '74,500', '73,100', '13,993,255'],
 ['2022.02.11', '74,900', '500', '75,000', '75,500', '74,600', '12,205,407'],
 ['2022.02.10', '75,400', '700', '75,600', '75,800', '74,700', '17,746,033'],
 ['2022.02.09', '74,700', '1,200', '74,300', '74,700', '74,000', '9,699,122'],
 ['2022.02.08', '73,500', '500', '73,800', '74,200', '73,000', '11,736,666'],
 ['2022.02.07', '73,000', '1,000', '73,500', '73,600', '72,400', '14,240,838'],
 ['2022.02.04', '74,000', '700', '74,300', '74,600', '73,400', '12,730,034'],
 ['2022.02.03', '73,300', '0', '74,900', '74,900', '73,300', '17,744,721'],
 ['2022.01.28', '73,300', '2,000', '71,300', '73,700', '71,200', '21,367,447'],
 ['2022.01.27', '71,300', '2,000', '73,800', '74,000', '71,300', '22,274,777'],
 ['2022.01.26', '73,300', '700', '73,900', '74,400', '73,100', '12,976,730'],
 ['2022.01.25', '74,000', '1,100', '74,800', '75,000', '73,200', '17,766,704'],
 ['2022.01.24', '75,100', '500', '75,400', '75,800', '74,700', '13,691,134'],
 ['2022.01.21', '75,600', '900', '75,800', '75,800', '74,700', '15,774,888'],
 ['2022.01.20', '76,500', '200', '76,200', '76,700', '75,900', '9,708,168'],
 ['2022.01.19', '76,300', '700', '76,500', '76,900', '76,100', '10,598,290'],
 ['2022.01.18', '77,000', '500', '77,600', '77,800', '76,600', '9,592,788'],
 ['2022.01.17', '77,500', '200', '77,600', '77,800', '76,900', '8,785,122'],
 ['2022.01.14', '77,300', '600', '77,700', '78,100', '77,100', '10,096,725'],
 ['2022.01.13', '77,900', '1,000', '79,300', '79,300', '77,900', '13,889,401'],
 ['2022.01.12', '78,900', '0', '79,500', '79,600', '78,600', '11,000,502'],
 ['2022.01.11', '78,900', '900', '78,400', '79,000', '78,000', '13,221,123'],
 ['2022.01.10', '78,000', '300', '78,100', '78,100', '77,100', '9,947,422'],
 ['2022.01.07', '78,300', '1,400', '78,100', '78,400', '77,400', '15,163,757'],
 ['2022.01.06', '76,900', '500', '76,700', '77,600', '76,600', '12,931,954'],
 ['2022.01.05', '77,400', '1,300', '78,800', '79,000', '76,400', '25,470,640'],
 ['2022.01.04', '78,700', '100', '78,800', '79,200', '78,300', '12,427,416'],
 ['2022.01.03', '78,600', '300', '79,400', '79,800', '78,200', '13,502,112'],
 ['2021.12.30', '78,300', '500', '78,900', '79,500', '78,100', '14,236,700'],
 ['2021.12.29', '78,800', '1,500', '80,200', '80,200', '78,500', '19,794,795'],
 ['2021.12.28', '80,300', '100', '80,200', '80,400', '79,700', '18,226,325'],
 ['2021.12.27', '80,200', '300', '80,600', '80,600', '79,800', '10,783,368'],
 ['2021.12.24', '80,500', '600', '80,200', '80,800', '80,200', '12,086,380'],
 ['2021.12.23', '79,900', '500', '79,800', '80,000', '79,300', '13,577,498'],
 ['2021.12.22', '79,400', '1,300', '78,900', '79,400', '78,800', '17,105,892'],
 ['2021.12.21', '78,100', '1,000', '77,900', '78,300', '77,500', '14,245,298'],
 ['2021.12.20', '77,100', '900', '77,600', '77,800', '76,800', '11,264,375'],
 ['2021.12.17', '78,000', '200', '76,800', '78,000', '76,800', '13,108,479'],
 ['2021.12.16', '77,800', '200', '78,500', '78,500', '77,400', '11,996,128'],
 ['2021.12.15', '77,600', '600', '76,400', '77,600', '76,300', '9,584,939'],
 ['2021.12.14', '77,000', '200', '76,500', '77,200', '76,200', '10,976,660'],
 ['2021.12.13', '76,800', '100', '77,200', '78,300', '76,500', '15,038,750'],
 ['2021.12.10', '76,900', '1,300', '77,400', '77,600', '76,800', '9,155,219'],
 ['2021.12.09', '78,200', '800', '77,400', '78,200', '77,000', '21,604,528'],
 ['2021.12.08', '77,400', '0', '78,300', '78,600', '77,100', '21,558,340'],
 ['2021.12.07', '77,400', '1,100', '76,100', '77,700', '75,600', '19,232,453'],
 ['2021.12.06', '76,300', '700', '75,100', '76,700', '74,900', '16,391,250'],
 ['2021.12.03', '75,600', '200', '75,600', '76,000', '74,100', '18,330,240'],
 ['2021.12.02', '75,800', '1,400', '73,900', '75,800', '73,800', '23,652,940'],
 ['2021.12.01', '74,400', '3,100', '72,000', '74,800', '71,600', '21,954,856'],
 ['2021.11.30', '71,300', '1,000', '73,200', '73,900', '70,500', '30,364,841'],
 ['2021.11.29', '72,300', '0', '71,700', '73,000', '71,400', '16,682,559'],
 ['2021.11.26', '72,300', '1,400', '73,500', '74,100', '72,000', '13,002,242'],
 ['2021.11.25', '73,700', '1,100', '75,100', '75,100', '73,600', '12,559,258'],
 ['2021.11.24', '74,800', '500', '76,000', '76,200', '74,100', '15,652,305'],
 ['2021.11.23', '75,300', '400', '76,000', '76,000', '74,500', '22,029,195'],
 ['2021.11.22', '74,900', '3,700', '73,300', '75,200', '73,000', '27,506,623'],
 ['2021.11.19', '71,200', '1,000', '70,400', '71,400', '70,100', '11,954,728'],
 ['2021.11.18', '70,200', '500', '70,700', '71,000', '70,200', '10,144,957'],
 ['2021.11.17', '70,700', '600', '71,300', '71,600', '70,600', '11,027,606'],
 ['2021.11.16', '71,300', '100', '71,500', '72,000', '71,300', '10,919,239'],
 ['2021.11.15', '71,400', '800', '71,700', '71,900', '70,900', '12,420,710'],
 ['2021.11.12', '70,600', '700', '70,200', '70,900', '69,900', '10,087,450']]

In [17]:
a = [1,2,3]

In [18]:
b = [4,5]

In [19]:
a.append(b) # 리스트안

In [20]:
a

[1, 2, 3, [4, 5]]

In [21]:
a[-1]

[4, 5]

In [22]:
a.extend(b)

In [23]:
a

[1, 2, 3, [4, 5], 4, 5]

In [ ]:
pip install pymysql

In [ ]:
import pymysql

In [ ]:
con =pymysql.connect(host="127.0.0.1", user='root', port=3306, password='1234', 
                charset='utf8')

In [ ]:
cur = con.cursor()

In [ ]:
cur.execute("show tables")

In [ ]:
cur.fetchall()

In [ ]:
sql = """create table stock (
	code char(16) not null,
	date date,
	closing_price int,
	diff_price int,
	open_price int,
	high_price int,
	low_price int,
	volume int,
	primary key(code, date)
)"""

In [ ]:
cur.execute(sql)

In [ ]:
con.commit()

In [ ]:
x = total[0].copy()

In [ ]:
x.insert(0, '005930')

In [ ]:
[y.replace(",", "") for y in x]

In [ ]:
sql_insert = "INSERT INTO stock VALUES (%s, %s, %s, %s,%s, %s, %s, %s)"

In [ ]:
cur.execute(sql_insert, [y.replace(",", "") for y in x] )

In [ ]:
con.commit()

In [ ]:
cur.execute("select * from stock")

In [ ]:
tmp = cur.fetchall()
tmp

In [ ]:
cur.execute("truncate table stock")

In [ ]:
con.commit()

In [ ]:
cur.execute("select * from stock")

In [ ]:
cur.fetchall()

## DB 데이터 넣기

In [ ]:
for x in total:
    x.insert(0, '005930')
    cur.execute(sql_insert, [y.replace(",", "") for y in x] )
    con.commit()

In [ ]:
cur.execute("select * from stock")

In [ ]:
rt = cur.fetchall()

In [ ]:
rt

In [ ]:
krx = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"
payload= {"bld" : "dbms/MDC/STAT/standard/MDCSTAT01901",
"locale" : "ko_KR",
"mktId" : "ALL",
"share" : "1",
"csvxls_isNo" : "false",}

In [ ]:
krx_r = requests.post(krx, data=payload)

In [ ]:
len(krx_r.json()['OutBlock_1'])

In [ ]:
for x in krx_r.json()['OutBlock_1']:
    print(x)
    break

In [ ]:
x

In [ ]:
for x in krx_r.json()['OutBlock_1']:
    print(f"{x['ISU_NM']} -> {x['ISU_SRT_CD']}")

In [ ]:
get_stock_day("043650", 2)

In [ ]:
krx_sql = """create table master (
	{} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    {} varchar(50),
    primary key(ISU_CD)
)"""

In [ ]:
len(x.keys())

In [ ]:
x

In [ ]:
print(krx_sql.format('ISU_CD', 'ISU_SRT_CD', 'ISU_NM', 'ISU_ABBRV', 'ISU_ENG_NM', 'LIST_DD', 'MKT_TP_NM', 'SECUGRP_NM', 'SECT_TP_NM', 'KIND_STKCERT_TP_NM', 'PARVAL', 'LIST_SHRS'))

In [ ]:
cur.execute(krx_sql.format('ISU_CD', 'ISU_SRT_CD', 'ISU_NM', 'ISU_ABBRV', 'ISU_ENG_NM', 'LIST_DD', 'MKT_TP_NM', 'SECUGRP_NM', 'SECT_TP_NM', 'KIND_STKCERT_TP_NM', 'PARVAL', 'LIST_SHRS'))

In [ ]:
con.commit()

In [ ]:
master_sql = "INSERT INTO master VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

In [ ]:
x

In [ ]:
cur.execute(master_sql, x.values())

In [ ]:
con.commit()

In [ ]:
cur.execute("drop table master")
con.commit()

In [ ]:
cur.execute("select * from master")
cur.fatchall()

In [ ]:
for x in krx_r.json()['OutBlock_1']:
    try:
        cur.execute(master_sql, list(x.values()))
    except Exception as e:
        print(e)
        print(x['ISU_ENG_NM'])

In [ ]:
con.commit()

In [ ]:
rt = cur.fetchall()

In [ ]:
rt

In [ ]:
get_stock_day("043650", 2)

In [ ]:
cur.execute("SELECT * FROM stock WHERE code = '005930'")

In [ ]:
cur.execute("SELECT * FROM stock WHERE ISU_SRT_CD = '005930'")

In [ ]:
cur.execute("select s.* from master m, stock s where m.ISU_SRT_CD = s.code and s.code ='005930'")

In [ ]:
cur.execute("select s.* from master m, stock s where m.ISU_SRT_CD = s.code and m.ISU_NM like '%삼성%'")

In [ ]:
cur.fetchall()